<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import * as dat from "dat.gui";
  import { log } from "three/examples/jsm/nodes/Nodes.js";
  // 纹理贴图
  
  onMounted(() => {
    const gui = new dat.GUI();
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
    // 最原始的加载方式
    // const image = new Image();
    // const texture = new THREE.Texture(image);
    // image.onload = () => {
    //   // 加载完成 以便在下次使用纹理时触发一次更新。
    //   texture.needsUpdate = true
    // }
    // image.src = './src/assets/images/textures/Wood_Ceiling_Coffers_003/Wood_Ceiling_Coffers_003_basecolor.jpg'
  
    // 加载器
    const loadingManager = new THREE.LoadingManager();
    loadingManager.onStart = (url, itemsLoaded, itemsTotal) => {
      console.log("start", url, itemsLoaded, itemsTotal);
    };
    loadingManager.onLoad = () => {
      console.log("loaded");
    };
    loadingManager.onProgress = (url, itemsLoaded, itemsTotal) => {
      console.log("process", url, itemsLoaded, itemsTotal);
    };
    loadingManager.onError = (url) => {
      console.log("error", url);
    };
    const textureLoader = new THREE.TextureLoader(loadingManager);
    const texture = textureLoader.load(
      "./src/assets/images/textures/sword.png",
      () => {
        console.log("load");
      },
      // process 回调, r84+ 被弃用
      undefined,
      // onError回调
      (error) => {
        console.log("error", error);
      }
    );
    // 当一个纹素（选的图片的像素）覆盖大于一个像素时(小像素覆盖大像素时)
    texture.magFilter = THREE.NearestFilter
    const texture2 = textureLoader.load(
      "./src/assets/images/textures/sword.png",
      () => {
        console.log("load");
      },
      // process 回调, r84+ 被弃用
      undefined,
      // onError回调
      (error) => {
        console.log("error", error);
      }
    );
  
  
    const box = new THREE.BoxGeometry(2, 2, 2);
    const material = new THREE.MeshLambertMaterial({
      //  color: '#5185ff',
      opacity: 0.8,
      map: texture, // map颜色贴图
    });
    const mesh = new THREE.Mesh(box, material);
    scene.add(mesh);
  
  
    const box2 = new THREE.BoxGeometry(2, 2, 2);
    const material2 = new THREE.MeshLambertMaterial({
      //  color: '#5185ff',
      opacity: 0.8,
      map: texture2, // map颜色贴图
    });
    const mesh2 = new THREE.Mesh(box2, material2);
    mesh2.position.x -= 4;
    scene.add(mesh2);
  
    // 添加全局光照
    const ambientLight = new THREE.AmbientLight(0xffffff);
    // 添加方向光
    const directionalLight = new THREE.DirectionalLight(0xffffff, 0.5);
  
    scene.add(ambientLight);
    scene.add(directionalLight);
  
    // 辅助坐标系  red: x green:y blue: z
    const axesHelper = new THREE.AxesHelper(4);
    scene.add(axesHelper);
  
    // 添加网格平面
    // const gridHelper = new THREE.GridHelper();
    // scene.add(gridHelper);
  
    // 创建观察场景的相机
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机
    // 设置相机位置
    camera.position.set(1.5, 1.5, 3); // 相机默认的坐标是在(0,0,0);
    // 设置相机方向
    camera.lookAt(scene.position); // 将相机朝向场景
    // 将相机添加到场景中
    scene.add(camera);
  
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
  
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    // 更新画布
    const tick = () => {
      // update objects
      controls.update();
      camera.updateProjectionMatrix();
      // console.log(camera.zoom);
      // mesh.rotation.y += 0.005;
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick()

})

</script>