<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import * as dat from "dat.gui";
  // AO贴图
  // ，aoMap是用于模拟环境光遮蔽（Ambient Occlusion）的材质属性之一。aoMap是一个纹理贴图，它通过在模型表面的每个像素上应用遮蔽因子来影响光照计算。
  onMounted(() => {
    const gui = new dat.GUI();
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
    const loadingManager = new THREE.LoadingManager();
    loadingManager.onStart = (url, itemsLoaded, itemsTotal) => {
      console.log("start", url, itemsLoaded, itemsTotal);
    };
    loadingManager.onLoad = () => {
      console.log("loaded");
    };
    loadingManager.onProgress = (url, itemsLoaded, itemsTotal) => {
      console.log("process", url, itemsLoaded, itemsTotal);
    };
    loadingManager.onError = (url) => {
      console.log("error", url);
    };
    const textureLoader = new THREE.TextureLoader(loadingManager);
  
    const texture = textureLoader.load(
      "./src/assets/images/textures/Wood_Ceiling_Coffers_003/Wood_Ceiling_Coffers_003_basecolor.jpg",
      () => {
        console.log("load");
      },
      // process 回调, r84+ 被弃用
      undefined,
      // onError回调
      (error) => {
        console.log("error", error);
      }
    );
  
    const aoTextTure = textureLoader.load(
      "./src/assets/images/textures/Wood_Ceiling_Coffers_003/Wood_Ceiling_Coffers_003_basecolor.jpg",
      () => {
        console.log("load");
      },
      // process 回调, r84+ 被弃用
      undefined,
      // onError回调
      (error) => {
        console.log("error", error);
      }
    );
  
    const box = new THREE.BoxGeometry(2, 2, 2);
    const material = new THREE.MeshLambertMaterial({
      //  color: '#5185ff',
      // opacity: 0.8,
      map: texture, // map颜色贴图
    });
    const mesh = new THREE.Mesh(box, material);
    scene.add(mesh);
  
    const box2 = new THREE.BoxGeometry(2, 2, 2);
    const material2 = new THREE.MeshLambertMaterial({
      //  color: '#5185ff',
      // opacity: 0.8,
      map: texture, // map颜色贴图
      aoMap: aoTextTure, // ao贴图
      aoMapIntensity: 1
    });
  
    
    box2.setAttribute('uv2', new THREE.BufferAttribute(box.attributes.uv.array, 2))
    const mesh2 = new THREE.Mesh(box2, material2);
    mesh2.position.x += 3
    scene.add(mesh2);
    gui.add(mesh2.material, 'aoMapIntensity', 0 , 1, 0.1)
  
  
    // 添加全局光照
    const ambientLight = new THREE.AmbientLight(0xffffff);
    // 添加方向光
    const directionalLight = new THREE.DirectionalLight(0xffffff, 0.5);
  
    scene.add(ambientLight);
    scene.add(directionalLight);
  
    // 辅助坐标系  red: x green:y blue: z
    const axesHelper = new THREE.AxesHelper(4);
    scene.add(axesHelper);
  
    // 添加网格平面
    const gridHelper = new THREE.GridHelper();
  
    scene.add(gridHelper);
  
    // 创建观察场景的相机
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机
    // 设置相机位置
    camera.position.set(1.5, 1.5, 3); // 相机默认的坐标是在(0,0,0);
    // 设置相机方向
    camera.lookAt(scene.position); // 将相机朝向场景
    // 将相机添加到场景中
    scene.add(camera);
  
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
  
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    // 更新画布
    const tick = () => {
      // update objects
      controls.update();
      camera.updateProjectionMatrix();
      // console.log(camera.zoom);
      // mesh.rotation.y += 0.005;
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>