
<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import * as dat from "dat.gui";
  
  onMounted(() => {
   // 光滑度贴图 
   const gui = new dat.GUI();
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
    const loadingManager = new THREE.LoadingManager();
    loadingManager.onStart = (url, itemsLoaded, itemsTotal) => {
      console.log("start", url, itemsLoaded, itemsTotal);
    };
    loadingManager.onLoad = () => {
      console.log("loaded");
    };
    loadingManager.onProgress = (url, itemsLoaded, itemsTotal) => {
      console.log("process", url, itemsLoaded, itemsTotal);
    };
    loadingManager.onError = (url) => {
      console.log("error", url);
    };
    const textureLoader = new THREE.TextureLoader(loadingManager);
  
    const texture = textureLoader.load(
      "./src/assets/images/textures/Warning_Sign_HighVoltage_001/Warning_Sign_HighVoltage_001_basecolor.jpg",
      () => {
        console.log("load");
      },
      // process 回调, r84+ 被弃用
      undefined,
      // onError回调
      (error) => {
        console.log("error", error);
      }
    );
    const bumpTextTure = textureLoader.load(
      "./src/assets/images/textures/Warning_Sign_HighVoltage_001/Warning_Sign_HighVoltage_001_height.png",
      () => {
        console.log("load");
      },
      // process 回调, r84+ 被弃用
      undefined,
      // onError回调
      (error) => {
        console.log("error", error);
      }
    );
    const normalTextTure = textureLoader.load(
      "./src/assets/images/textures/Warning_Sign_HighVoltage_001/Warning_Sign_HighVoltage_001_normal.jpg",
      () => {
        console.log("load");
      },
      // process 回调, r84+ 被弃用
      undefined,
      // onError回调
      (error) => {
        console.log("error", error);
      }
    );
    const roughnessTextTure = textureLoader.load(
      "./src/assets/images/textures/Warning_Sign_HighVoltage_001/Warning_Sign_HighVoltage_001_roughness.jpg",
      () => {
        console.log("load");
      },
      // process 回调, r84+ 被弃用
      undefined,
      // onError回调
      (error) => {
        console.log("error", error);
      }
    );
    // 该纹理的蓝色通道用于改变材质的金属度
    const metalTextTure = textureLoader.load(
      "./src/assets/images/textures/Warning_Sign_HighVoltage_001/Warning_Sign_HighVoltage_001_metallic.jpg",
      () => {
        console.log("load");
      },
      // process 回调, r84+ 被弃用
      undefined,
      // onError回调
      (error) => {
        console.log("error", error);
      }
    )
    const box = new THREE.BoxGeometry(2, 2, 2);
    const material = new THREE.MeshStandardMaterial({
      map: texture, // map颜色贴图
      // roughnessMap: roughnessTextTure,
      metalnessMap: metalTextTure
    });
    const mesh = new THREE.Mesh(box, material);
    scene.add(mesh);
  
    const box2 = new THREE.BoxGeometry(2, 2, 2);
    const material2 = new THREE.MeshStandardMaterial({
  
      map: texture, // map颜色贴图
      displacementMap: bumpTextTure,
      roughnessMap: roughnessTextTure,
      metalnessMap: metalTextTure
    });
  
    
    const mesh2 = new THREE.Mesh(box2, material2);
    mesh.position.x -= 2
    mesh2.position.x += 2
    scene.add(mesh2);
    // 材质的粗糙程度。0.0表示平滑的镜面反射，1.0表示完全漫反射。默认值为1.0
    gui.add(mesh2.material, 'roughness', 0 , 1, 0.1)
    // 材质与金属的相似度。非金属材质，如木材或石材，使用0.0，金属使用1.0，
    gui.add(mesh2.material, 'metalness', 0 , 1, 0.1)
    gui.add(mesh2.material, 'displacementScale', 0 , 1, 0.1)
    gui.add(mesh2.material, 'displacementBias', 0 , 1, 0.1)  
    
    // 添加全局光照
    const ambientLight = new THREE.AmbientLight(0xffffff, 0.8);
    // 添加方向光
    const directionalLight = new THREE.DirectionalLight(0xffffff, 0.8);
    directionalLight.position.set(0, 10, 0)
    scene.add(ambientLight);
    scene.add(directionalLight);
  
    // 辅助坐标系  red: x green:y blue: z
    const axesHelper = new THREE.AxesHelper(4);
    scene.add(axesHelper);
  
    // 添加网格平面
    const gridHelper = new THREE.GridHelper();
  
    scene.add(gridHelper);
  
    // 创建观察场景的相机
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机
    // 设置相机位置
    camera.position.set(1.5, 1.5, 3); // 相机默认的坐标是在(0,0,0);
    // 设置相机方向
    camera.lookAt(scene.position); // 将相机朝向场景
    // 将相机添加到场景中
    scene.add(camera);
  
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
  
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    // 更新画布
    const tick = () => {
      // update objects
      controls.update();
      camera.updateProjectionMatrix();
      // console.log(camera.zoom);
      // mesh.rotation.y += 0.005;
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  })
  </script>
  