
<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import * as dat from "dat.gui";
  
  onMounted(() => {
   // 光滑度贴图 
   const gui = new dat.GUI();
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
    const loadingManager = new THREE.LoadingManager();
    loadingManager.onStart = (url, itemsLoaded, itemsTotal) => {
      console.log("start", url, itemsLoaded, itemsTotal);
    };
    loadingManager.onLoad = () => {
      console.log("loaded");
    };
    loadingManager.onProgress = (url, itemsLoaded, itemsTotal) => {
      console.log("process", url, itemsLoaded, itemsTotal);
    };
    loadingManager.onError = (url) => {
      console.log("error", url);
    };
    const textureLoader = new THREE.TextureLoader(loadingManager);
  
    const texture = textureLoader.load(
      "./src/assets/images/textures/earth/earth_atmos_2048.jpg",
      () => {
        console.log("load");
      },
      // process 回调, r84+ 被弃用
      undefined,
      // onError回调
      (error) => {
        console.log("error", error);
      }
    );
    
    // 高光贴图
    const specularTexture = textureLoader.load('./src/assets/images/textures/earth/earth_specular_2048.jpg'); // 高光贴图
   
    const box = new THREE.SphereGeometry(1.5, 64, 64);
    const material = new THREE.MeshPhongMaterial({
      map: texture, // map颜色贴图
    });
    const mesh = new THREE.Mesh(box, material);
    scene.add(mesh);
  
    const box2 = new THREE.SphereGeometry(1.5, 64, 64);
    const material2 = new THREE.MeshPhongMaterial({
      map: texture, // map颜色贴图
      specularMap: specularTexture,
      specular: new THREE.Color(0x00ffff) // 材质的高光颜色。默认值为0x111111（深灰色）的颜色Color。
    });
  
    
    const mesh2 = new THREE.Mesh(box2, material2);
    mesh.position.x -= 2
    mesh2.position.x += 2
    scene.add(mesh2);
    const params = {
      color: 0x00ffff,
    };
    gui.addColor(params, 'color').onChange((val) => {
      mesh2.material.specular = new THREE.Color(val)
    })
    // 高亮的程度，越高的值越闪亮。默认值为 30。
    gui.add(mesh2.material, 'shininess', 0, 100, 0.1).onChange((val) => {
        mesh2.material.shininess = val;
    });
    // gui.addColor(params, 'color')
    // gui.add(mesh2.material, 'shininess', 0, 100, 0.1)
    // 添加全局光照
    const ambientLight = new THREE.AmbientLight(0xffffff, 0.8);
    // 添加方向光
    const directionalLight = new THREE.DirectionalLight(0xffffff, 0.8);
    directionalLight.position.set(0, 10, 0)
    scene.add(ambientLight);
    scene.add(directionalLight);
  
    // 辅助坐标系  red: x green:y blue: z
    const axesHelper = new THREE.AxesHelper(4);
    scene.add(axesHelper);
  
    // 添加网格平面
    const gridHelper = new THREE.GridHelper();
  
    scene.add(gridHelper);
  
    // 创建观察场景的相机
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机
    // 设置相机位置
    camera.position.set(1.5, 1.5, 3); // 相机默认的坐标是在(0,0,0);
    // 设置相机方向
    camera.lookAt(scene.position); // 将相机朝向场景
    // 将相机添加到场景中
    scene.add(camera);
  
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
  
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    // 更新画布
    const tick = () => {
      // update objects
      controls.update();
      camera.updateProjectionMatrix();
      // console.log(camera.zoom);
      // mesh.rotation.y += 0.005;
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  })
  </script>
  