
<template>
  <canvas id="world"></canvas>
</template>
  
  <script setup>
import { onMounted } from "vue";

onMounted(() => {
  const canvas = document.getElementById("c");
  const width = window.innerWidth;
  const height = window.innerHeight;
  const scene = new THREE.Scene();
  const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机
  const Colors = {
    red: 0xf25346,
    yellow: 0xedeb27,
    white: 0xd8d0d1,
    brown: 0x59332e,
    pink: 0xf5986e,
    brownDark: 0x23190f,
    blue: 0x68c3c0,
    green: 0x458248,
    purple: 0x551a8b,
    lightgreen: 0x629265,
  };
  camera.position.x = 0;
  camera.position.y = 150;
  camera.position.z = 100;
  const Object3D = new THREE.Object3D();

  // 创建半球光
  const hemisphereLight = new THREE.HemisphereLight(0xaaaaaa, 0x000000, 0.9);
  // 创建平行光
  const shadowLight = new THREE.DirectionalLight(0xffffff, 0.9);
  shadowLight.castShadow = true;
  scene.add(hemisphereLight);
  scene.add(shadowLight);
  // 设置阴影长款尺寸
  shadowLight.shadow.mapSize.width = 2048;
  shadowLight.shadow.mapSize.height = 2048;

  // 创建陆地 上下半径 高度 长款分段数
  const geom = new THREE.CylinderGeometry(600, 600, 1700, 40, 10);
  geom.rotation.x = -Math.PI / 2;
  // 适合建树的材质
  const mat = new THREE.MeshPhongMaterial({
    color: Colors.lightgreen,
    shading: THREE.FlatShading, // 获得合适的光照效果
  });
  const Land = new THREE.Mesh(geom, mat);
  Land.receiveShadow = true;
  Object3D.add(Land);

  // 创建太阳
  const SunGeom = new THREE.SphereGeometry(400, 20, 10);
  const SunMat = new THREE.MeshPhongMaterial({
    color: Colors.yellow,
    shading: THREE.FlatShading, // 平面着色。在这种模式下，每个面片都被着色成一个单一的颜色
  });
  const Sun = new THREE.Mesh(SunGeom, SunMat);
  sun.castShadow = false;
  sun.receiveShadow = false;
  Object3D.add(Sun);

  // 创建云
  // 创建十二面体 半径 顶点
  const createCloud = () => {
    const cloundContainer = new THREE.Object3D();
    const cloudGeom = new THREE.DodecahedronGeometry(20, 0);
    const cloudMat = new THREE.MeshPhongMaterial({
      color: Colors.white,
    });
    // 一组云的数量
    const cloudGroupNum = 3 + Math.floor(Math.random() * 3);
    for (let i = 0; i < cloudGroupNum; i++) {
      const m = new THREE.Mesh(cloudGeom, cloudMat);
      m.position.x = i * 15;
      m.position.y = Math.random() * 10;
      m.position.z = Math.random() * 10;
      m.rotation.z = Math.random() * Math.PI * 2;
      m.rotation.y = Math.random() * Math.PI * 2;
      const scale = 0.1 + Math.random() * 0.9;
      m.scale.set(s, s, s);
      cloundContainer.add(m);
    }

    return cloundContainer;
  };

  // 创建天空
  const createSky = () => {
    const skyContainer = new THREE.Object3D();
    const cloudNum = 25;
    // 均匀的分布在圆环上
    const step = (Math.PI * 2) / cloudNum;
    for (let i = 0; i < cloudNum; i++) {
      const cloud = createClound();
      const a = step * i;
      const h = 800 + Math.random() * 200;
      cloud.mesh.position.y = Math.sin(a) * h;
      cloud.mesh.position.x = Math.cos(a) * h;
      // rotate the cloud according to its position
      cloud.mesh.rotation.z = a + Math.PI / 2;
      // random depth for the clouds on the z-axis
      cloud.mesh.position.z = -400 - Math.random() * 400;
      // random scale for each cloud
      const s = 1 + Math.random() * 2;
      cloud.mesh.scale.set(s, s, s);
      skyContainer.add(cloud.mesh);
    }
    return skyContainer;
  };

  // 创建树
  const createTree = () => {
    const treeContainer = new THREE.Object3D();
    const matTreeBase = new THREE.MeshBasicMaterial({ color: Colors.brown });
    const treeBase = new THREE.Mesh(geonTreeBase, matTreeBase);
    treeBase.castShadow = true;
    treeBase.receiveShadow = true;
    treeContainer.add(treeBase);

    const geomTreeLeaves1 = new THREE.CylinderGeometry(1, 12 * 3, 12 * 3, 4);
    const treeLeaves1 = new THREE.Mesh(geomTreeLeaves1, matTreeLeaves);
    treeLeaves1.castShadow = true;
    treeLeaves1.receiveShadow = true;
    treeLeaves1.position.y = 20;
    treeContainer.add(treeLeaves1);

    var geomTreeLeaves2 = new THREE.CylinderGeometry(1, 9 * 3, 9 * 3, 4);
    var treeLeaves2 = new THREE.Mesh(geomTreeLeaves2, matTreeLeaves);
    treeLeaves2.castShadow = true;
    treeLeaves2.position.y = 40;
    treeLeaves2.receiveShadow = true;
    treeContainer.add(treeLeaves2);

    var geomTreeLeaves3 = new THREE.CylinderGeometry(1, 6 * 3, 6 * 3, 4);
    var treeLeaves3 = new THREE.Mesh(geomTreeLeaves3, matTreeLeaves);
    treeLeaves3.castShadow = true;
    treeLeaves3.position.y = 55;
    treeLeaves3.receiveShadow = true;
    treeContainer.add(treeLeaves3);
  };

  // 创建花
  // const petalColors = [Colors.red, Colors.yellow, Colors.blue];
  // const createFlower = () => {
  //   const flowerContainer = new THREE.Object3D()
  //   const geomStem = new THREE.BoxGeometry( 5,50,5,1,1,1 );
  //   const matStem = new THREE.MeshPhongMaterial( { color:Colors.green, shading:THREE.FlatShading});
  //   const stem = new THREE.Mesh(geom, mat)
  //   stem.castShadow = false;
	//   stem.receiveShadow = true;
  //   flowerContainer.add(stem)

    

  // };

  // 创建森林
  const createForest = () => {
    const forestContainer = new THREE.Object3D();
    const treeNum = 300
    const stepAngle = Math.PI*2 / treeNum;
    for (let i = 0; i < treeNum; i ++) {
       const tree = createTree()
       const a = stepAngle * i
       const h = 605
       tree.mesh.position.x = Math.cos(a)*h;
       tree.mesh.position.y = Math.sin(a)*h;
       tree.mesh.position.z = a + (Math.PI/2)*3;
       tree.mesh.position.z = 0-Math.random()*600;
       const s = .1+Math.random()*.3;
       // 随机放大缩小树
       tree.mesh.scale.set(s,s,s);
		   forestContainer.add(tree.mesh); 
    }
  }

  // 创建飞机
  const createAirPlane = () => {
    
  }
  console.log(THREE.REVISION);
  // 创建渲染器
  const renderer = new THREE.WebGLRenderer({
    canvas,
    antialias: true, // 抗锯齿
  });
  // 开启阴影渲染 不开启没有阴影
  renderer.shadowMap.enabled = true;
  renderer.setPixelRatio(window.devicePixelRatio);
  // 设置渲染器大小
  renderer.setSize(width, height);
  // 执行渲染
  renderer.render(scene, camera);
});
</script>
  
  
  <style>
#world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(#e4e0ba, #f7d9aa);
}
</style>