
<template>
  <canvas id="world"></canvas>
</template>
<script setup>
import { onMounted } from "vue";
</script>
    
    
    <style>
#world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(#e4e0ba, #f7d9aa);
}
</style>