<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import Stats from "three/examples/jsm/libs/stats.module";
  import { GUI } from "dat.gui";
  
  onMounted(() => {
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
  
    /**
     * 大屏
     */
    const sceen = new THREE.Scene();
    //sceen.background = new THREE.Color(0xffffff);
  
    /**
     * 光线
     */
    const ambientLight = new THREE.AmbientLight(0xffffff);
    const directionalLight = new THREE.DirectionalLight(0xffffff);
    sceen.add(ambientLight, directionalLight);
  
    /**
     * 创建相机
     */
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.1, 1000);
    camera.position.set(0, 0, 10);
    sceen.add(camera);
  
    /**
     * 辅助坐标系
     * red: x green:y blue: z
     */
    const axesHelper = new THREE.AxesHelper(4);
    sceen.add(axesHelper);
    /**
     * 创建射线
     */
    const rayCaster = new THREE.Raycaster();
    // 自定义鼠标位置
    const pointer = new THREE.Vector2(1000, 1000);
    let currentIntersect; // 当前交互的对象
    const onMouseMove = (event) => {
      // 将鼠标位置归1化为设备坐标。x 和 y 方向的取值范围是 (-1 to +1)
      pointer.x = (event.clientX / window.innerWidth) * 2 - 1;
      pointer.y = -(event.clientY / window.innerHeight) * 2 + 1;
    };
    document.addEventListener("pointermove", onMouseMove, false);
  
    /**
     * 创建物体
     */
    const createMesh = () => {
      const radius = Math.abs(1.6 - Math.random());
      const geometry = new THREE.TorusGeometry(radius);
  
      const mesh = new THREE.Mesh(
        geometry,
        new THREE.MeshStandardMaterial({
          color: "#FF6F00",
          transparent: true,
        })
      );
      mesh.name = "random-mesh";
      mesh.position.set(
        (Math.random() - 0.5) * 100,
        (Math.random() - 0.5) * 100,
        (Math.random() - 0.5) * 100
      );
      mesh.setRotationFromEuler(
        new THREE.Euler(
          Math.PI * Math.random(),
          Math.PI * Math.random(),
          Math.PI * Math.random()
        )
      );
      const scale = Math.random() * 0.5 + 0.3;
      mesh.scale.set(scale, scale, scale);
      sceen.add(mesh);
    };
    for (let i = 0; i < 300; i++) {
      createMesh();
    }
    const box = new THREE.Mesh(
      new THREE.BoxGeometry(2, 2, 2),
      new THREE.MeshLambertMaterial({ 
        color: 0x1890ff,
        transparent: true
      })
    );
  
    const sphere = new THREE.Mesh(
      new THREE.SphereGeometry(2),
      new THREE.MeshLambertMaterial({
        color: 0x1890ff,
        transparent: true
      })
    );
  
    box.position.x = -3;
    sphere.position.x = 3;
    sceen.add(box, sphere);
    /**
     * 创建渲染器
     */
    const renderer = new THREE.WebGLRenderer({
      canvas: canvas,
      antialias: true, // 抗锯齿
    });
    // 设置渲染器的像素比
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器的尺寸
    renderer.setSize(width, height);
    renderer.render(sceen, camera);
    /**
     * 创建控制器
     */
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    const tick = () => {
      sceen.children.forEach((item) => {
        if (item.name === "random-mesh") {
          item.rotation.x += 0.01;
          item.rotation.y += 0.01;
        }
      });
      const objects = [box, sphere]
      // 通过摄像机和鼠标位置更新射线
      rayCaster.setFromCamera(pointer, camera);
      // 计算物体和射线的焦点
      const intersects = rayCaster.intersectObjects(objects);
      if (intersects.length) {
        if (!currentIntersect) {
          console.log("mouse enter");
          currentIntersect = intersects[0];
          currentIntersect.object.material.opacity = 0.5;
        } 
      } else {
          
          if (currentIntersect) {
            console.log("mouse leave");
            currentIntersect.object.material.opacity = 1;  
          }
          currentIntersect = null;
        }
  
      // console.log(target);
      controls.update();
      renderer.render(sceen, camera);
      requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  