<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import Stats from "three/examples/jsm/libs/stats.module";
  import { GUI } from "dat.gui";
  import gsap from "gsap";
  import { log } from "three/examples/jsm/nodes/Nodes";
  onMounted(() => {
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
  
    /**
     * 大屏
     */
    const sceen = new THREE.Scene();
    sceen.background = new THREE.Color(0x01a6ff);
  
    /**
     * 光线
     */
    const ambientLight = new THREE.AmbientLight(0xffffff);
    const directionalLight = new THREE.DirectionalLight(0xffffff);
    sceen.add(ambientLight, directionalLight);
  
    /**
     * 创建相机
     */
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.1, 1000);
    camera.position.set(0, 0, 10);
    sceen.add(camera);
  
    /**
     * 辅助坐标系
     * red: x green:y blue: z
     */
    const axesHelper = new THREE.AxesHelper(4);
    sceen.add(axesHelper);
    /**
     * 创建射线
     */
    const rayCaster = new THREE.Raycaster();
    // 自定义鼠标位置
    const pointer = new THREE.Vector2(1000, 1000);
    const onMouseMove = (event) => {
      // 将鼠标位置归1化为设备坐标。x 和 y 方向的取值范围是 (-1 to +1)
      pointer.x = (event.clientX / window.innerWidth) * 2 - 1;
      pointer.y = -(event.clientY / window.innerHeight) * 2 + 1;
    };
    document.addEventListener("pointermove", onMouseMove, false);
    let currentIntersect = null;
    const onMouseClick = (event) => {
      if (currentIntersect) {
        // 复制一个相同的元素盒子
        const copyBox = currentIntersect.object.clone();
        sceen.add(copyBox);
        gsap.fromTo(
          copyBox.position,
          {
            y: copyBox.position.y,
          },
          {
            duration: 2, // 动画时长
            repeat: 0, // 无限循环
            yoyo: false, // 往返运动
            ease: "none", // 缓动函数
            y: 0, // 运动属性
          }
        );
      }
    };
    document.addEventListener("click", onMouseClick, false);
    /**
     * 创建网格
     */
    const gridHelper = new THREE.GridHelper(10, 25, 0xffd9d9);
    sceen.add(gridHelper);
    /**
     * 创建物体
     */
  
    const texture = new THREE.TextureLoader().load(
      new URL(
        "./assets/images/textures/Warning_Sign_HighVoltage_001/Warning_Sign_HighVoltage_001_basecolor.jpg",
        import.meta.url
      ).href
    );
    texture.colorSpace = THREE.SRGBColorSpace;
    const boxGeometry = new THREE.BoxGeometry(1, 1, 1);
    const box = new THREE.Mesh(
      boxGeometry,
      new THREE.MeshLambertMaterial({
        map: texture,
      })
    );
    box.position.y = 4;
    sceen.add(box);
    // animation
    gsap.fromTo(
      box.position,
      {
        x: -4,
      },
      {
        duration: 2, // 动画时长
        repeat: -1, // 无限循环
        yoyo: true, // 往返运动
        ease: "none", // 缓动函数
        x: 4, // 运动属性
      }
    );
    /**
     * 创建渲染器
     */
    const renderer = new THREE.WebGLRenderer({
      canvas: canvas,
      antialias: true, // 抗锯齿
    });
    // 设置渲染器的像素比
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器的尺寸
    renderer.setSize(width, height);
    renderer.render(sceen, camera);
    /**
     * 创建控制器
     */
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    const tick = () => {
      // sceen.children.forEach((item) => {
      //   if (item.name === "random-mesh") {
      //     item.rotation.x += 0.01;
      //     item.rotation.y += 0.01;
      //   }
      // });
      const objects = [box];
      // 通过摄像机和鼠标位置更新射线
      rayCaster.setFromCamera(pointer, camera);
      // 计算物体和射线的焦点
      const intersects = rayCaster.intersectObjects(objects);
      if (intersects.length > 0) {
        if (!currentIntersect) {
          currentIntersect = intersects[0];
        }
      } else {
        if (currentIntersect) {
          console.log("leave");
        }
        currentIntersect = null;
      }
      controls.update();
      renderer.render(sceen, camera);
      requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  