<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import { DragControls } from "three/examples/jsm/controls/DragControls";
  import Stats from "three/examples/jsm/libs/stats.module";
  import { GUI } from "dat.gui";
  import gsap from "gsap";
  import { log } from "three/examples/jsm/nodes/Nodes";
  onMounted(() => {
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
  
    /**
     * 大屏
     */
    const sceen = new THREE.Scene();
    sceen.background = new THREE.Color(0x000000);
  
    /**
     * 光线
     */
    const ambientLight = new THREE.AmbientLight(0xffffff);
    const directionalLight = new THREE.DirectionalLight(0xffffff);
    sceen.add(ambientLight, directionalLight);
  
    /**
     * 创建相机
     */
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.1, 1000);
    camera.position.set(0, 0, 10);
    sceen.add(camera);
  
    /**
     * 辅助坐标系
     * red: x green:y blue: z
     */
    const axesHelper = new THREE.AxesHelper(4);
    sceen.add(axesHelper);
  
    /**
     * 创建网格
     */
    const gridHelper = new THREE.GridHelper(10, 25, 0xffd9d9);
    // gridHelper.position.y = 1
    sceen.add(gridHelper);
    /**
     * 创建物体
     */
  
    const texture = new THREE.TextureLoader().load(
      new URL(
        "./assets/images/textures/Warning_Sign_HighVoltage_001/Warning_Sign_HighVoltage_001_basecolor.jpg",
        import.meta.url
      ).href
    );
    texture.colorSpace = THREE.SRGBColorSpace;
    const boxGeometry = new THREE.BoxGeometry(1, 1, 1);
    const box = new THREE.Mesh(
      boxGeometry,
      new THREE.MeshLambertMaterial({
        map: texture,
      })
    );
    box.position.y = 0.5;
    box.position.x = -4;
  
  
    const cube = new THREE.Mesh(
      boxGeometry,
      new THREE.MeshLambertMaterial({
        color: 0x01a6ff,
      })
    );
  
    cube.position.y = 0.5;
    cube.position.x = 2;
    sceen.add(box, cube);
  
    /**
     * 创建渲染器
     */
    const renderer = new THREE.WebGLRenderer({
      canvas: canvas,
      antialias: true, // 抗锯齿
    });
    // 设置渲染器的像素比
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器的尺寸
    renderer.setSize(width, height);
    renderer.render(sceen, camera);
    /**
     * 创建控制器
     */
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    /**
     * 创建拖拽器
     */
    const dragControls = new DragControls([box], camera, canvas);
    dragControls.addEventListener("dragstart", function (event) {
      controls.enabled = false;
    });
    dragControls.addEventListener("dragend", function (event) {
      controls.enabled = true;
    });
  
    /**
     * 
     * 使用 Raycaster 检测物体间的射线交点
     * 1. 从一个物体的表面发射多条射线，方向指向另一个物体。
       2. 检测这些射线是否与另一个物体相交。
       3. 如果有射线相交，则认为两个物体发生了碰撞。
     * 
     * 
     * 
     */
    let speedX = 0.01;
    let flag = false;
    const tick = () => {
      // 获得box的中心点坐标  世界坐标
      const centerCoord = box.position.clone();
      // 获取网格中 几何对象的顶点坐标
      const { position } = box.geometry.attributes;
      // 获取正方体各个顶点三维向量
      const vertices = [];
      // .count 矢量个数 一个正方体8个顶点 一个顶点3个数组成一个坐标 原则上有36个数字
      // 但是实际上一个面由两个三角形组成 所以一个面有6个顶点一共有36个顶点 去掉共享的顶点所以只有24个
      for (let i = 0; i < position.count; i++) {
        // position.getX(i) 获取第i个顶点的x坐标 y, z坐标
        vertices.push(
          new THREE.Vector3(position.getX(i), position.getY(i), position.getZ(i))
        );
      }
      for (let i = 0; i < vertices.length; i++) {
        // .matrixWorld 物体的世界坐标变换 -- 物体旋转、位移 的四维矩阵
        // .applyMatrix4() 将该向量乘以四阶矩阵
        // 获取世界坐标下 网格变换后的坐标
        const vertexWorldCoord = vertices[i]
          .clone()
          .applyMatrix4(box.matrixWorld);
  
        const dir = new THREE.Vector3();
        // 几何体顶点坐标和几何体中心坐标构成的方向向量(将该向量设置为a - b)
        dir.subVectors(vertexWorldCoord, centerCoord);
  
        // 创建射线 centerCoord 为投射的原点向量, dir 向射线提供方向的方向向量
        // .normalize() 将该向量转换为单位向量, 第2个参数direction是向射线提供方向的方向向量，应当被标准化
        // @parsms 射线起点 射线方向
        const raycaster = new THREE.Raycaster(
          centerCoord,
          dir.clone().normalize()
        );
  
        // 放入要检测的物体cube，返回相交物体
        const intersects = raycaster.intersectObjects([cube], true);
        if (intersects.length > 0) {
          // intersects[0].distance：射线起点与交叉点之间的距离(交叉点：射线和模型表面交叉点坐标)
          // dir.length()：几何体顶点和几何体中心构成向量的长度
          // intersects[0].distance小于dir.length() 表示物体相交
          if (intersects[0].distance < dir.length()) {
            flag = true;
            console.log("发生碰撞");
          }
        }
      }
      // 触碰到了
      if (flag) {
        box.position.x -= speedX;
        if (box.position.x <= -4) {
          flag = false;
          box.position.x += speedX;
        }
      } else {
        // 没碰到
        box.position.x += speedX;
      }
  
      controls.update();
      renderer.render(sceen, camera);
      requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  