<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import { DragControls } from "three/examples/jsm/controls/DragControls";
  import Stats from "three/examples/jsm/libs/stats.module";
  import { GUI } from "dat.gui";
  import gsap from "gsap";
  import { log } from "three/examples/jsm/nodes/Nodes";
  onMounted(() => {
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
  
    /**
     * 大屏
     */
    const sceen = new THREE.Scene();
    sceen.background = new THREE.Color(0x000000);
  
    /**
     * 光线
     */
    const ambientLight = new THREE.AmbientLight(0xffffff);
    const directionalLight = new THREE.DirectionalLight(0xffffff);
    sceen.add(ambientLight, directionalLight);
  
    /**
     * 创建相机
     */
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.1, 1000);
    camera.position.set(0, 0, 10);
    sceen.add(camera);
  
    /**
     * 辅助坐标系
     * red: x green:y blue: z
     */
    const axesHelper = new THREE.AxesHelper(4);
    sceen.add(axesHelper);
  
    /**
     * 创建网格
     */
    const gridHelper = new THREE.GridHelper(10, 25, 0xffd9d9);
    // gridHelper.position.y = 1
    sceen.add(gridHelper);
    /**
     * 创建物体
     */
  
    const texture = new THREE.TextureLoader().load(
      new URL(
        "./assets/images/textures/Warning_Sign_HighVoltage_001/Warning_Sign_HighVoltage_001_basecolor.jpg",
        import.meta.url
      ).href
    );
    texture.colorSpace = THREE.SRGBColorSpace;
    const boxGeometry = new THREE.BoxGeometry(1, 1, 1);
    const box = new THREE.Mesh(
      boxGeometry,
      new THREE.MeshLambertMaterial({
        map: texture,
      })
    );
    box.position.y = 0.5;
    box.position.x = -4;
    
    box.rotation.y = Math.PI / 4;
  
  
    const cube = new THREE.Mesh(
      boxGeometry,
      new THREE.MeshLambertMaterial({
        color: 0x01a6ff,
      })
    );
  
    cube.position.y = 0.5;
    cube.position.x = 2;
    sceen.add(box, cube);
  
    /**
     * 创建渲染器
     */
    const renderer = new THREE.WebGLRenderer({
      canvas: canvas,
      antialias: true, // 抗锯齿
    });
    // 设置渲染器的像素比
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器的尺寸
    renderer.setSize(width, height);
    renderer.render(sceen, camera);
    /**
     * 创建控制器
     */
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    /**
     * 创建拖拽器
     */
    const dragControls = new DragControls([box], camera, canvas);
    dragControls.addEventListener("dragstart", function (event) {
      controls.enabled = false;
    });
    dragControls.addEventListener("dragend", function (event) {
      controls.enabled = true;
    });
  
    /**
     * 
     * 使用 Box3 包围盒原理检测物体碰撞
     * 1. 计算两个物体的包围盒（Box3）。
     * 2. 检查两个包围盒是否相交。
     * 3. 如果包围盒相交，则认为两个物体发生了碰撞。
     * 缺点就是精度不够高 相当于生成最小的盒子来包裹物体
  
     * 
     * 
     * 
     */
    let speedX = 0.01;
    let flag = false;
    // 创建一个box3包围盒
    const box3 = new THREE.Box3();
    const tick = () => {
      
      box.geometry.computeBoundingBox();
      // 计算的是一个几何体包围盒完全包围box的最小盒子 会求出min和max的顶点坐标
      box3.copy(box.geometry.boundingBox).applyMatrix4(box.matrixWorld);
      const box3Dhelper = new THREE.Box3Helper(box3, 0x00ff00);
      
  
      // 来计算包围盒的3D对象
      const cubeBB = new THREE.Box3().setFromObject(cube);
  
      // const box3Dhelper2 = new THREE.Box3Helper(cube, 0x00ff00);
      sceen.add(box3Dhelper);
      if (box3.intersectsBox(cubeBB)) {
          console.log('发生碰撞！');
          flag = true;
        }
  
        // 触碰到了
        if (flag) {
          box.position.x -= speedX;
          if (box.position.x <= -4) {
            flag = false;
            box.position.x += speedX;
          }
        } else {
          // 没碰到
          box.position.x += speedX;
        }
      controls.update();
      renderer.render(sceen, camera);
      requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  