<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import * as dat from "dat.gui";
  
  
  onMounted(() => {
    const gui = new dat.GUI();
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
  
    const car = new THREE.Group();
  
    const carGeometry = new THREE.BoxGeometry(2, 1, 0.2);
    const wheelGeometry = new THREE.CylinderGeometry(0.2, 0.2, 0.2, 20);
    const material = new THREE.MeshBasicMaterial( {color: '#5185FF'} ); 
    const wheelMaterial = new THREE.MeshLambertMaterial({
        color: 0xff00ff,
      });
    const carMesh = new THREE.Mesh(carGeometry, material );
    carMesh.rotation.x = -Math.PI / 2
    
    const wheel1 = new THREE.Mesh(wheelGeometry, wheelMaterial);
    const wheel2 = new THREE.Mesh(wheelGeometry, wheelMaterial);
    const wheel3 = new THREE.Mesh(wheelGeometry, wheelMaterial);
    const wheel4 = new THREE.Mesh(wheelGeometry, wheelMaterial);
    wheel1.name = 'wheel';
    wheel2.name = 'wheel';
    wheel3.name = 'wheel';
    wheel4.name = 'wheel';
  
    wheel1.rotation.x = -Math.PI / 2
    wheel2.rotation.x = -Math.PI / 2
    wheel3.rotation.x = -Math.PI / 2
    wheel4.rotation.x = -Math.PI / 2
    wheel1.position.set(0.5, 0, -0.5)
    wheel2.position.set(-0.5, 0, -0.5)
    wheel3.position.set(-0.5, 0, 0.5)
    wheel4.position.set(0.5, 0, 0.5)
    const light = new THREE.BoxGeometry(0.1, 0.1, 0.1);
    const lightMaterial = new THREE.MeshLambertMaterial({
      color: 0xffff00,
    });
    const carLight1 = new THREE.Mesh(light, lightMaterial);
    const carLight2 = new THREE.Mesh(light, lightMaterial);
  
    carLight1.position.set(-1.02, 0, -0.2);
    carLight2.position.set(-1.02, 0, 0.2);
  
    car.add(carMesh, wheel1, wheel2, wheel3, wheel4, carLight1, carLight2);
    car.position.y = 0.2
    scene.add(car)
  
    
  
  
  
    // 添加全局光照
    const ambientLight = new THREE.AmbientLight(0xffffff);
    // 添加方向光
    const directionalLight = new THREE.DirectionalLight(0xffffff, 0.5);
  
    scene.add(ambientLight);
    scene.add(directionalLight);
  
    // 辅助坐标系  red: x green:y blue: z
    const axesHelper = new THREE.AxesHelper(4);
    scene.add(axesHelper);
  
    // 添加网格平面
    const gridHelper = new THREE.GridHelper();
  
    scene.add(gridHelper);
  
    // 创建观察场景的相机
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机
  
    // 设置相机位置
    camera.position.set(1.5, 1.5, 3); // 相机默认的坐标是在(0,0,0);
    // 设置相机方向
    camera.lookAt(scene.position); // 将相机朝向场景
    // 将相机添加到场景中
    scene.add(camera);
  
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
  
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    const move = () => {
      // 一帧走这么多
      const speed = 0.4 * Math.PI  / 360 // 转速
      const delta = 2
      car.position.x -= speed * delta
      const meshes = car.children;
      for (const i in meshes) {
          const mesh = meshes[i];
          if (mesh.name === 'wheel') {
            mesh.rotation.y += THREE.MathUtils.degToRad(delta) / window.devicePixelRatio; // 转换成弧度
          }
      }
      if (car.position.x < -5) {
          car.position.x = 5;
        }
      
    }
  
    // 更新画布
    const tick = () => {
      move()
      // update objects
      controls.update();
      camera.updateProjectionMatrix();
      // console.log(camera.zoom);
      // mesh.rotation.y += 0.005;
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  