<template>
  <canvas id="c"></canvas>
</template>

<script setup>
  import * as THREE from 'three';
  import { onMounted } from 'vue';
  import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';
  import * as dat from 'dat.gui';

  onMounted(() => {
    const gui = new dat.GUI();
    const canvas = document.getElementById('c');
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
    // 创建  平面  几何模型 平面的长宽
    const plane = new THREE.PlaneGeometry(2, 2);
    // 设置立方体表面颜色
    const material = new THREE.MeshLambertMaterial({
      color: '#1890ff',
    });

    // 生成物体对象
    const mesh = new THREE.Mesh(plane, material);

    mesh.rotation.x = -Math.PI / 2;
    mesh.position.y = 0.5;

    // 添加全局光照
    const ambientLight = new THREE.AmbientLight(0xffffff);
    // 添加方向光
    const directionalLight = new THREE.DirectionalLight(0xffffff, 0.01);

    scene.add(ambientLight);
    scene.add(directionalLight);
    scene.add(mesh);

    // 辅助坐标系
    const axesHelper = new THREE.AxesHelper(4);

    scene.add(axesHelper);

    // 添加网格平面
    const gridHelper = new THREE.GridHelper();

    scene.add(gridHelper);

    // 创建观察场景的相机
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机

    // 设置相机位置
    camera.position.set(1.5, 1.5, 3); // 相机默认的坐标是在(0,0,0);
    // 设置相机方向
    camera.lookAt(scene.position); // 将相机朝向场景
    // 将相机添加到场景中
    scene.add(camera);

    gui.add(camera.position, 'x').min(-4).max(4).step(0.01);
    gui.add(camera, 'fov').min(-4).max(100).step(1);
    gui.add(camera, 'aspect').min(-4).max(4).step(0.01);
    gui.add(camera, 'near').min(0.1).max(4).step(0.01);
    gui.add(camera, 'far').min(1).max(200).step(1);
    gui.add(camera, 'zoom').min(1).max(20).step(0.1)
      .onChange((val) => {
        console.log(val);
        camera.updateProjectionMatrix();
        const angle = camera.getEffectiveFOV();

        console.log(angle);
      });

    const params = {
      color: '#1890ff',
      wireframe: false,
    };

    gui.add(mesh, 'visible');
    gui.addColor(params, 'color').onChange((val) => {
      mesh.material.color.set(val);
    });
    gui.add(params, 'wireframe').onChange((val) => {
      mesh.material.wireframe = val;
    });

    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });

    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);

    const controls = new OrbitControls(camera, canvas);

    controls.enableDamping = true; // 启用拖拽惯性效果

    // 更新画布
    const tick = () => {
      // update objects
      controls.update();
      camera.updateProjectionMatrix();
      // console.log(camera.zoom);
      // mesh.rotation.y += 0.005;
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };

    tick();
  });
</script>
