<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import { DragControls } from "three/examples/jsm/controls/DragControls";
  import { GLTFLoader } from "three/examples/jsm/loaders/GLTFLoader";
  import { DRACOLoader } from "three/examples/jsm/loaders/DRACOLoader";
  import { GUI } from "dat.gui";
  import { log } from "three/examples/jsm/nodes/Nodes";
  
  onMounted(() => {
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
  
    /**
     * 大屏
     */
    const sceen = new THREE.Scene();
    sceen.background = new THREE.Color(0x01a6ff);
    new THREE.TextureLoader().load("./images/bg.png", (bg) => {
      sceen.background = bg;
    });
  
    /**
     * 光线
     */
    const ambientLight = new THREE.AmbientLight(0xffffff);
    const directionalLight = new THREE.DirectionalLight(0xffffff);
    sceen.add(ambientLight, directionalLight);
  
    /**
     * 创建相机
     */
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.1, 1000);
    camera.position.set(0, 0, 10);
    sceen.add(camera);
  
    /**
     *
     * MODELS
     */
    // 如果文件是.drc或者.gltf文件的则需要dracoLoader
    // 可以压缩解码3d文件 解码器的路径需要下载
    const dracoLoader = new DRACOLoader();
    dracoLoader.setDecoderPath("./draco/");
  
    const gltfLoader = new GLTFLoader();
    gltfLoader.setDRACOLoader(dracoLoader);
  
    gltfLoader.load(
      new URL(
        "./assets/images/batman_arkham_knight_batmobile/scene.gltf",
        import.meta.url
      ).href,
      (gltf) => {
        console.log(gltf, 'gltf');
        // 遍历整个对象
        // gltf.scene.traverse((obj) => {
        //   if (obj.type === "Mesh") {
        //     if (obj.name === "Object_4") {
        //       console.log(obj);
        //     }
        //   }
        // });
  
        gltf.scene.scale.set(0.5, 0.5, 0.5);
        sceen.add(gltf.scene);
      },
      (xhr) => {
        // console.log("progress", xhr);
        console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
      },
      (error) => {
        console.log("error", error);
      }
    );
  
    /**
     * 辅助坐标系
     * red: x green:y blue: z
     */
    const axesHelper = new THREE.AxesHelper(4);
    sceen.add(axesHelper);
  
    /**
     * 创建网格
     */
    const gridHelper = new THREE.GridHelper(10, 25, 0xffd9d9);
    // gridHelper.position.y = 1
    sceen.add(gridHelper);
    /**
     * 创建物体
     */
  
    const texture = new THREE.TextureLoader().load(
      new URL(
        "./assets/images/textures/Warning_Sign_HighVoltage_001/Warning_Sign_HighVoltage_001_basecolor.jpg",
        import.meta.url
      ).href
    );
    texture.colorSpace = THREE.SRGBColorSpace;
  
    /**
     * 创建渲染器
     */
    const renderer = new THREE.WebGLRenderer({
      canvas: canvas,
      antialias: true, // 抗锯齿
      logarithmicDepthBuffer: true // 启用对数深度缓冲 谨慎开启
    });
    // 设置渲染器的像素比
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器的尺寸
    renderer.setSize(width, height);
    renderer.render(sceen, camera);
    /**
     * 创建控制器
     */
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
      // gui
      const gui = new GUI();
      const objScale = (type, val) => {
        const obj = sceen.children.find((x) => x.name === "Sketchfab_Scene");
        console.log(sceen);
        switch (type) {
          case 'all':
            obj.scale.x = val;
            obj.scale.y = val;
            obj.scale.z = val;
            break;
  
          default:
            obj.scale[type] = val;
            break;
        }
      }
  
      gui.add({ scale: 0.1 }, 'scale', 0.1, 1, 0.1).name('缩放').onChange(val => {
        objScale('all', val);
      });
  
      gui.add({ scaleX: 0.1 }, 'scaleX', 0.1, 1, 0.1).name('x轴缩放').onChange(val => {
        objScale('x', val);
      });
  
      gui.add({ scaleY: 0.1 }, 'scaleY', 0.1, 1, 0.1).name('y轴缩放').onChange(val => {
        objScale('y', val);
      });
  
      gui.add({ scaleZ: 0.1 }, 'scaleZ', 0.1, 1, 0.1).name('z轴缩放').onChange(val => {
        objScale('z', val);
      });
    const tick = () => {
      controls.update();
      renderer.render(sceen, camera);
      requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  