<template>
    <canvas id="c"></canvas>
    <div id="tooltip"></div>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import { DragControls } from "three/examples/jsm/controls/DragControls";
  import { GLTFLoader } from "three/examples/jsm/loaders/GLTFLoader";
  import { DRACOLoader } from "three/examples/jsm/loaders/DRACOLoader";
  import { GUI } from "dat.gui";
  
  onMounted(() => {
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
  
    /**
     * 大屏
     */
    const sceen = new THREE.Scene();
    sceen.background = new THREE.Color(0x01a6ff);
    new THREE.TextureLoader().load("./images/bg.png", (bg) => {
      sceen.background = bg;
    });
  
    /**
     * 光线
     */
    const ambientLight = new THREE.AmbientLight(0xffffff);
    const directionalLight = new THREE.DirectionalLight(0xffffff);
    sceen.add(ambientLight, directionalLight);
  
    /**
     * 创建相机
     */
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.1, 1000);
    camera.position.set(0, 0, 10);
    sceen.add(camera);
  
    /**
     *
     * MODELS
     */
    const dracoLoader = new DRACOLoader();
    dracoLoader.setDecoderPath("./draco/");
  
    const gltfLoader = new GLTFLoader();
    gltfLoader.setDRACOLoader(dracoLoader);
    let modelLoaded = false;
    gltfLoader.load(
      new URL(
        "./assets/images/2CylinderEngine/2CylinderEngine_blender.gltf",
        import.meta.url
      ).href,
      (gltf) => {
        console.log(gltf, "gltf");
  
        gltf.scene.scale.set(0.1, 0.1, 0.1);
        gltf.scene.name = "Sketchfab_Scene";
        sceen.add(gltf.scene);
  
        modelLoaded = true;
        afterload();
      },
      (xhr) => {
        // console.log("progress", xhr);
        console.log((xhr.loaded / xhr.total) * 100 + "% loaded");
      },
      (error) => {
        console.log("error", error);
      }
    );
    const afterload = () => {
      sceen.traverse((mesh) => {
        if (mesh.name === "body_1") {
          mesh.material.transparent = true;
        } else if (mesh.name === "body_21" || mesh.name === "body_23") {
          mesh.material.color = new THREE.Color(0xf39c12);
        } else if (mesh.name === "body_2001" || mesh.name === "body_2002") {
          mesh.material.color = new THREE.Color(0x8e44ad);
          mesh.material.transparent = true;
        } else if (mesh.name === "body_4001" || mesh.name === "body_4002") {
          mesh.material.color = new THREE.Color(0x16a085);
          mesh.material.transparent = true;
        } else if (mesh.name === "body_4001" || mesh.name === "body_4002") {
          mesh.material.color = new THREE.Color(0x34495e);
          mesh.material.transparent = true;
        }
      });
    };
    /**
     * 辅助坐标系
     * red: x green:y blue: z
     */
    const axesHelper = new THREE.AxesHelper(4);
    sceen.add(axesHelper);
  
    /**
     * 创建网格
     */
    const gridHelper = new THREE.GridHelper(10, 25, 0xffd9d9);
    // gridHelper.position.y = 1
    sceen.add(gridHelper);
    /**
     * 创建物体
     */
  
    const texture = new THREE.TextureLoader().load(
      new URL(
        "./assets/images/textures/Warning_Sign_HighVoltage_001/Warning_Sign_HighVoltage_001_basecolor.jpg",
        import.meta.url
      ).href
    );
    texture.colorSpace = THREE.SRGBColorSpace;
    /**
     *  射线法 raycasting
     *
     */
  
    const pointer = new THREE.Vector2();
    const client = new THREE.Vector2();
    const raycaster = new THREE.Raycaster();
    const tooltip = document.getElementById("tooltip");
  
    const onMove = (event) => {
      client.x = event.clientX;
      client.y = event.clientY;
      pointer.x = (event.clientX / window.innerWidth) * 2 - 1;
      pointer.y = -(event.clientY / window.innerHeight) * 2 + 1;
    };
  
    window.addEventListener("pointermove", onMove);
  
    window.addEventListener("wheel", (e) => {
      e.stopPropagation();
      e.preventDefault();
      if (modelLoaded) {
          console.log(e.deltaY);
          let body_2001, body_3001, body_4001;
          let body_2002, body_3002, body_4002;
  
          sceen.traverse((node) => {
            if (node.name === 'body_2001') {
              body_2001 = node;
            } else if (node.name === 'body_3001') {
              body_3001 = node;
            } else if (node.name === 'body_4001') {
              body_4001 = node;
            } else if (node.name === 'body_2002') {
              body_2002 = node;
            } else if (node.name === 'body_3002') {
              body_3002 = node;
            } else if (node.name === 'body_4002') {
              body_4002 = node;
            }
          });
          // e.deltaY用户在垂直方向上滚动的距离
          body_2001.position.x += e.deltaY / 4;
          body_3001.position.x += e.deltaY / 2;
          body_4001.position.x += e.deltaY;
          body_2002.position.y += e.deltaY / 4;
          body_3002.position.y += e.deltaY / 2;
          body_4002.position.y += e.deltaY;
        }
    }, { passive: false });
    // passive: false 阻止浏览器默认行为
    /**
     * 创建渲染器
     */
    const renderer = new THREE.WebGLRenderer({
      canvas: canvas,
      antialias: true, // 抗锯齿
      logarithmicDepthBuffer: true, // 启用对数深度缓冲 谨慎开启
    });
    // 设置渲染器的像素比
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器的尺寸
    renderer.setSize(width, height);
    renderer.render(sceen, camera);
    /**
     * 创建控制器
     */
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
    controls.enableZoom = false
  
    // gui
    const gui = new GUI();
    const objScale = (type, val) => {
      const obj = sceen.children.find((x) => x.name === "Sketchfab_Scene");
      switch (type) {
        case "all":
          obj.scale.x = val;
          obj.scale.y = val;
          obj.scale.z = val;
          break;
  
        default:
          obj.scale[type] = val;
          break;
      }
    };
  
    gui
      .add({ scale: 0.1 }, "scale", 0.01, 1, 0.01)
      .name("缩放")
      .onChange((val) => {
        objScale("all", val);
      });
  
    gui
      .add({ scaleX: 0.1 }, "scaleX", 0.1, 1, 0.1)
      .name("x轴缩放")
      .onChange((val) => {
        objScale("x", val);
      });
  
    gui
      .add({ scaleY: 0.1 }, "scaleY", 0.1, 1, 0.1)
      .name("y轴缩放")
      .onChange((val) => {
        objScale("y", val);
      });
  
    gui
      .add({ scaleZ: 0.1 }, "scaleZ", 0.1, 1, 0.1)
      .name("z轴缩放")
      .onChange((val) => {
        objScale("z", val);
      });
    gui
      .add({ opacity: 1 }, "opacity", 0, 1, 0.01)
      .name("body_1 透明度")
      .onChange((val) => {
        sceen.traverse((mesh) => {
          if (mesh.name === "body_1") {
            mesh.material.opacity = val;
          }
        });
      });
    gui
      .add({ opacity: 1 }, "opacity", 0, 1, 0.01)
      .name("body_2001 透明度")
      .onChange((val) => {
        sceen.traverse((node) => {
          if (node.name === "body_2001") {
            node.material.opacity = val;
          }
        });
      });
  
    gui
      .add({ opacity: 1 }, "opacity", 0, 1, 0.01)
      .name("body_2002 透明度")
      .onChange((val) => {
        // 遍历内部所有的对象模型
        sceen.traverse((node) => {
          if (node.name === "body_2002") {
            node.material.opacity = val;
          }
        });
      });
    gui
      .add({ x: 100 }, "x", 100, 300, 1)
      .name("移动body_2001")
      .onChange((val) => {
        sceen.traverse((node) => {
          if (node.name === "body_2001") {
            node.position.x = val;
          }
        });
      });
    gui
      .add({ x: 100 }, "x", 100, 300, 1)
      .name("移动body_2002")
      .onChange((val) => {
        sceen.traverse((node) => {
          if (node.name === "body_2002") {
            node.position.x = val;
          }
        });
      });
  
    const tick = () => {
      raycaster.setFromCamera(pointer, camera);
      const intersects = raycaster.intersectObjects(sceen.children, true);
      if (intersects.length > 0) {
        console.log(intersects);
        const intersect = intersects[0];
        if (intersect.object.name) {
          tooltip.innerHTML = intersect.object.name;
          tooltip.style.visibility = "visible";
          tooltip.style.left = client.x + 30 + "px";
          tooltip.style.top = client.y + 30 + "px";
        }
      } else {
        tooltip.style.visibility = "hidden";
      }
      controls.update();
      renderer.render(sceen, camera);
      requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  <style scoped>
  #tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
  }
  </style>