<template>
<!-- 相机漫游  -->
 <canvas id="canvas"></canvas>
</template>
<script setup>
import { onMounted, reactive } from 'vue';
import * as THREE from 'three';
import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
import { HeartCurve } from 'three/examples/jsm/curves/CurveExtras';
import * as dat from 'dat.gui'


    onMounted(() => {
      const gui = new dat.GUI();
      const canvas = document.getElementById('canvas');
      const width = window.innerWidth;
      const height = window.innerHeight;
      canvas.width = width;
      canvas.height = height;
      // 创建3D场景
      const scene = new THREE.Scene();
      // 创建一个立方体
      const geometry = new THREE.BoxGeometry(1, 1, 1);
      // 材质
      const material = new THREE.MeshLambertMaterial({
          color: 0x1890ff
      });
      // 生成物体对象（结构, 材质）
      const mesh = new THREE.Mesh(geometry, material)
      //添加全局光
      const ambientLight = new THREE.AmbientLight(0xffffff, 0.5);
      // 平行光 强度0.5
      const directionalLight = new THREE.DirectionalLight(0xffffff, 0.5);
      scene.add(ambientLight, directionalLight);
      scene.add(mesh);
      
      // 创建观察场景的相机
      const pCamera = new THREE.PerspectiveCamera(75, width/height, 1, 200) // 透视相机
      // 设置相机位置
      pCamera.position.set(1, 1, 40); // 相机默认的坐标是在(0,0,0);
      // 设置相机方向
      pCamera.lookAt(scene.position); // 将相机朝向场景
      // 将相机添加到场景中
      scene.add(pCamera);
      
      let cameraIndex = 0;
      let camera = pCamera;
      // 创建第二个相机
      const watcherCamera = new THREE.PerspectiveCamera(75, width / height);
      watcherCamera.position.set(0, 20, 20);
      camera.lookAt(scene.position);
      scene.add(watcherCamera);
     
      //生成一个球 半径
      const sphereGeometry = new THREE.SphereGeometry(0.2, 16, 32)
      const material2 = new THREE.MeshBasicMaterial({
        color: 0xffff00,
      });
      // 用球模仿相机移动
      const cameraLike = new THREE.Mesh(sphereGeometry, material2);
      cameraLike.position.set(0, 5, 0);
      scene.add(cameraLike);

      // 5坐标轴长度 red: x green:y blue: z
      const axesHelper = new THREE.AxesHelper( 5 );
      const cameraHelper = new THREE.CameraHelper( pCamera )
      scene.add(axesHelper, cameraHelper);
      // 创建心形曲线
      const curve = new HeartCurve(0.5);
      // 创建一个管道
      const tubeGeometry = new THREE.TubeGeometry(curve, 200, 0.01, 8, true);
      const basicMaterial = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
      const tubeMesh = new THREE.Mesh(tubeGeometry, basicMaterial);
      
      // 桃心绕x轴旋转90度
      tubeMesh.rotation.x = -Math.PI / 2;
      // tubeMesh.rotation.x = new THREE.MathUtils.degToRad(-90);
      scene.add(tubeMesh);

      gui.add(camera.position, 'x').min(-10).max(10).step(0.5);
      gui.add(camera, 'fov').min(-4).max(100).step(1);
      gui.add(camera, 'aspect').min(-4).max(4).step(0.01);
      gui.add(camera, 'near').min(1).max(100).step(1);
      gui.add(camera, 'far').min(1).max(200).step(1);
      gui.add(camera, 'zoom').min(1).max(20).step(0.1)
        .onChange((e) => {
          console.log(e);
          camera.updateProjectionMatrix();
          const angle = camera.getEffectiveFOV();
          console.log(angle);
      });
      const params = {
        color: '#1890ff',
        wireframe: false,
        switchCamera() {
        orbitControls.dispose(); // 销毁旧的控制器
        if (cameraIndex === 0) {
          camera = watcherCamera; // 切换相机
          cameraIndex = 1;
          console.log('watcherCamera启动');
        } else {
          camera = pCamera;
          cameraIndex = 0;
          console.log('pCamera启动');
        }

        // 重新创建控制器
        orbitControls = new OrbitControls(camera, canvas);
        },
      };

      gui.add(mesh, 'visible');
      gui.addColor(params, 'color').onChange((val) => {
        mesh.material.forEach((m) => {
          m.color.set(val);
        });
      });
      gui.add(params, 'wireframe').onChange((val) => {
        mesh.material.forEach(m => {
         m.wireframe = val;
        });
      });
      gui.add(params, 'switchCamera');

      
      const renderer = new THREE.WebGLRenderer({
        canvas: canvas,
        antialias: true // 抗锯齿
      });

      // 设置渲染器屏幕像素比
      renderer.setPixelRatio(window.devicePixelRatio || 1)
      // 设置渲染器大小
      renderer.setSize(width, height);
      // 执行渲染
      renderer.render(scene, camera);

      // 轨道控制器 可以使得相机围绕目标进行轨道运动
      let orbitControls = new OrbitControls(camera, canvas);
      orbitControls.enableDamping = true; // 启用拖拽惯性效果
      
      // 曲线分割成3000个点
      const points = curve.getPoints(3000);
      // 分割点计数
      let count = 0;
      const tick = () => {
        // update objects 必须在摄像机的变换发生任何手动改变后调用
        orbitControls.update();
        // mesh.rotation.y += 0.1
        const index = count % 3000;
        const point = points[index];
        const nextPoint = points[index + 1 > 3000 ? 0 : index + 1]
        // 相机和模拟小球路线
        pCamera.position.set(point.x, 0,  -point.y)
        // 让人眼视角沿着路径观察
        pCamera.lookAt(nextPoint.x, 0, -nextPoint.y);
        // if (cameraIndex === 0) {
        // pCamera.updateProjectionMatrix();
        // }
        camera.updateProjectionMatrix();
        cameraLike.position.set(point.x, 0,  -point.y)
        // 加速
        count +=5

        // 重新渲染整个场景
        renderer.render(scene, camera);
        
        // 调用下次更新函数
        window.requestAnimationFrame(tick);
      }

      tick();
    })
</script>



<style scoped>

</style>
