<template>
 <canvas id="canvas"></canvas>
 <!-- 相机控制器 -->
</template>
<script setup>
import { onMounted, reactive } from 'vue';
import * as THREE from 'three';
import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
import { DragControls } from 'three/addons/controls/DragControls.js';
import * as dat from 'dat.gui'


    onMounted(() => {
      const gui = new dat.GUI();
      const canvas = document.getElementById('canvas');
      const width = window.innerWidth;
      const height = window.innerHeight;
      canvas.width = width;
      canvas.height = height;
      // 创建3D场景
      const scene = new THREE.Scene();
      // 创建一个立方体
      const geometry = new THREE.BoxGeometry(2, 2, 2);

          let faces = [];

    for (let i = 0; i < geometry.groups.length; i++) {
      // 重新生成新的材质
      const material = new THREE.MeshBasicMaterial({
        // color: new THREE.Color(Math.random() * 0x00ffff),
        color: new THREE.Color(0X5185FF),
      });

      faces.push(material);
    }
    // 生成物体
    const mesh = new THREE.Mesh(geometry, faces)
    // 添加全局光照
    const ambientLight = new THREE.AmbientLight(0xffffff);
    // 添加方向光
    const directionalLight = new THREE.DirectionalLight(0xffffff, 0.5);

    scene.add(ambientLight);
    scene.add(directionalLight);
    scene.add(mesh);

    // 辅助坐标系
    const axesHelper = new THREE.AxesHelper(4);
    scene.add(axesHelper);

    // 创建观察场景的相机
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机 
    // 相机默认的坐标是(0,0,0)
    camera.position.set(1.5,1.5,3)
    // 设置相机方向
    camera.lookAt(scene.position)
    scene.add(camera)
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });   
    
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);

    // 启用轨道控制器
    const orbitControls = new OrbitControls(camera, canvas);
    // 启用阻尼惯性
    orbitControls.enableDamping  = true

    gui.add(orbitControls, 'enabled'); // 是否启动拖拽
    gui.add(orbitControls, 'dampingFactor', 0.01, 0.2, 0.01); // 阻尼惯性多大越小动的越久
    gui.add(orbitControls, 'enablePan'); // 相机平移 按住command+左键的效果
    gui.add(orbitControls, 'panSpeed', 1, 10, 1); // 平移速度
    gui.add(orbitControls, 'autoRotate'); // 是否开启自转
    gui.add(orbitControls, 'autoRotateSpeed', 1, 20, 1); // 自转的速度
    gui.add(orbitControls, 'enableRotate'); // 是否开启旋转(不是自转是能否拖动)
    gui.add(orbitControls, 'rotateSpeed', 1, 10, 1); // 旋转的速度
    gui.add(orbitControls, 'enableZoom'); // 启用禁用缩放
    gui.add(orbitControls, 'zoomSpeed', 1, 10, 1); // 缩放的快慢
    // 拖拽控制器
    const dragControls = new DragControls([mesh], camera, canvas);
    // 启用拖拽控制器的时候 关闭轨道控制器 否则会有大问题 
    dragControls.addEventListener('dragstart', e => {
	    orbitControls.enabled = false;
    });

    dragControls.addEventListener('dragend', e => {
    	orbitControls.enabled = true;
    });

    const tick = () => {
     orbitControls.update()
     camera.updateProjectionMatrix();
     renderer.render(scene, camera);
     
     window.requestAnimationFrame(tick)
    } 

    tick()





    })



</script>



<style scoped>

</style>
