
<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import * as dat from "dat.gui";
  onMounted(() => {
    const gui = new dat.GUI();
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
    // 添加全局光照类似于白天外面有太阳 
    //   均匀照亮场景中所有的物体
  
    // 可以指定环境光的颜色, 透明度等
  
    // 无法产生阴影
    const ambientLight = new THREE.AmbientLight(0xffffff, 0.8);
    const directionalLight = new THREE.DirectionalLight(0xffffff, 0.95)
    // 4是平面的尺寸
    const dirLightHelper = new THREE.DirectionalLightHelper(directionalLight, 4)
    scene.add(ambientLight, directionalLight, dirLightHelper);
    // 此属性设置为 true 灯光将投射阴影
    directionalLight.castShadow = true;
  
  
    
    const textureLoader = new THREE.TextureLoader();
    const floorTexture = textureLoader.load('./src/assets/images/textures/floor_tiles_06/floor_tiles_06_diff_2k.jpg');
    const wallTexture = textureLoader.load('./src/assets/images/textures/large_sandstone_blocks/large_sandstone_blocks_diff_2k.jpg');
    floorTexture.colorSpace = THREE.SRGBColorSpace;
    wallTexture.colorSpace = THREE.SRGBColorSpace;
  
    const box = new THREE.Mesh(
      new THREE.BoxGeometry(1, 1, 1),
      new THREE.MeshLambertMaterial({
        color: 0x1890ff,
      })
    )
    const geometry = new THREE.PlaneGeometry(10, 10);
    const floor = new THREE.Mesh(
        geometry,
        new THREE.MeshLambertMaterial({
          map: floorTexture,
          side: THREE.DoubleSide,
        })
      );
    const wall = new THREE.Mesh(
      geometry,
      new THREE.MeshLambertMaterial({
        map: wallTexture,
        side: THREE.DoubleSide,
        })
    );
    wall.position.z -= 1
    wall.position.y = 0
    floor.position.y = -1
    floor.rotation.x = -Math.PI / 2;
    box.castShadow = true; // 物体产生阴影    
    floor.receiveShadow = true // 地面接收阴影
    // 方向光冲着盒子照 跟随盒子的位移而移动
    directionalLight.target = box
    scene.add(box, floor, wall);
    
    gui.add(ambientLight, 'intensity', 0, 1, 0.1).name('环境光强度');
    gui.add(ambientLight, 'visible').name('环境光可见性');
    gui.add(directionalLight, 'intensity').name('方向光强度');
    gui.add(directionalLight, 'visible').name('方向光可见性');
    gui.add(directionalLight.position, 'x', -30, 30, 0.1).name('方向光x');
    gui.add(directionalLight.position, 'y', -30, 30, 0.1).name('方向光y');
    gui.add(directionalLight.position, 'z', -30, 30, 0.1).name('方向光z');
    gui.addColor({ color: 0xffffff }, 'color').onChange((val) => {
      ambientLight.color = new THREE.Color(val);
    })
    gui.add(box.position, 'x', -30, 30, 0.1).name('boxX').onChange(() => {
      dirLightHelper.update();
    });
    gui.add(box.position, 'y', -30, 30, 0.1).name('boxY').onChange(() => {
      dirLightHelper.update();
    });
    gui.add(box.position, 'z', -30, 30, 0.1).name('boxZ').onChange(() => {
      dirLightHelper.update();
    });
    gui.add(directionalLight.shadow, 'radius', 0, 30 ,1)
  
  
  
  
    // 辅助坐标系  red: x green:y blue: z
    const axesHelper = new THREE.AxesHelper(4);
    scene.add(axesHelper);
    // 添加网格平面
    const gridHelper = new THREE.GridHelper();
    gridHelper.position.y = -1;
    scene.add(gridHelper);
    // 创建观察场景的相机
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机
    // 设置相机位置
    camera.position.set(1.5, 1.5, 3); // 相机默认的坐标是在(0,0,0);
    // 设置相机方向
    camera.lookAt(scene.position); // 将相机朝向场景
    // 将相机添加到场景中
    scene.add(camera);
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
    // 开启阴影渲染 不开启没有阴影
    renderer.shadowMap.enabled = true;
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    // 更新画布
    const tick = () => {
      // update objects
      controls.update();
      camera.updateProjectionMatrix();
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  