
<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import * as dat from "dat.gui";
  onMounted(() => {
    const gui = new dat.GUI();
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
    const ambientLight = new THREE.AmbientLight(0xffffff, 0.8);
    const directionalLight = new THREE.DirectionalLight(0xffffff, 0.95);
    ambientLight.visible = false;
    directionalLight.visible = false;
  
    // 4是平面的尺寸
    const dirLightHelper = new THREE.DirectionalLightHelper(directionalLight, 4);
    scene.add(ambientLight, directionalLight);
    // 此属性设置为 true 灯光将投射阴影
    directionalLight.castShadow = true;
  
    const textureLoader = new THREE.TextureLoader();
    const floorTexture = textureLoader.load(
      "./src/assets/images/textures/floor_tiles_06/floor_tiles_06_diff_2k.jpg"
    );
    const wallTexture = textureLoader.load(
      "./src/assets/images/textures/large_sandstone_blocks/large_sandstone_blocks_diff_2k.jpg"
    );
    floorTexture.colorSpace = THREE.SRGBColorSpace;
    wallTexture.colorSpace = THREE.SRGBColorSpace;
    // 添加点光源
    const pointLight1 = new THREE.PointLight(0xf3ae3d, 0.8); // 光颜色 光强度
    const pointLight2 = new THREE.PointLight(0xa1fc8f, 0.8);
    const pointHelper = new THREE.PointLightHelper(pointLight1);
  
    pointLight1.castShadow = true;
    pointLight2.castShadow = true;
    pointLight1.position.set(-1, 1, 2);
    pointLight2.position.set(1, 1, 2);
    const point1 = new THREE.Mesh(
      new THREE.SphereGeometry(0.1, 64, 64),
      new THREE.MeshBasicMaterial({
        color: 0xf3ae3d,
      })
    );
    const point2 = new THREE.Mesh(
      new THREE.SphereGeometry(0.1, 64, 64),
      new THREE.MeshBasicMaterial({
        color: 0xa1fc8f,
      })
    );
  
    point1.position.copy(pointLight1.position);
    point2.position.copy(pointLight2.position);
  
    scene.add(pointLight1, pointLight2, point1, point2);
  
    const box = new THREE.Mesh(
      new THREE.BoxGeometry(1, 1, 1),
      new THREE.MeshLambertMaterial({
        color: 0x1890ff,
      })
    );
    const geometry = new THREE.PlaneGeometry(10, 10);
    const floor = new THREE.Mesh(
      geometry,
      new THREE.MeshLambertMaterial({
        map: floorTexture,
        side: THREE.DoubleSide,
      })
    );
    const wall = new THREE.Mesh(
      geometry,
      new THREE.MeshLambertMaterial({
        map: wallTexture,
        side: THREE.DoubleSide,
      })
    );
    wall.position.z -= 1;
    wall.position.y = 0;
    floor.position.y = -1;
    floor.rotation.x = -Math.PI / 2;
    box.castShadow = true; // 物体产生阴影
    floor.receiveShadow = true; // 地面接收阴影
    wall.receiveShadow = true; // 墙体接受阴影
    // directionalLight.target = box
    scene.add(box, floor, wall);
    gui.add(ambientLight, "intensity", 0, 1, 0.1).name("环境光强度");
    gui.add(ambientLight, "visible").name("环境光可见性");
    gui.add(directionalLight, "intensity", 0, 1, 0.1).name("方向光强度");
    gui.add(directionalLight, "visible").name("方向光可见性");
    gui.add(directionalLight.position, "x", -30, 30, 0.1).name("方向光x");
    gui.add(directionalLight.position, "y", -30, 30, 0.1).name("方向光y");
    gui.add(directionalLight.position, "z", -30, 30, 0.1).name("方向光z");
    gui
      .add(box.position, "x", -30, 30, 0.1)
      .name("boxX")
      .onChange(() => {
        dirLightHelper.update();
      });
    gui
      .add(box.position, "y", -30, 30, 0.1)
      .name("boxY")
      .onChange(() => {
        dirLightHelper.update();
      });
    gui
      .add(box.position, "z", -30, 30, 0.1)
      .name("boxZ")
      .onChange(() => {
        dirLightHelper.update();
      });
    gui.add(pointLight1, "intensity", 0, 1, 0.1).name("P1强度");
    gui
      .add(pointLight1.position, "x", -10, 10, 0.1)
      .name("point1X")
      .onChange((val) => {
        point1.position.x = val;
      });
    gui
      .add(pointLight1.position, "y", -10, 10, 0.1)
      .name("point1Y")
      .onChange((val) => {
        point1.position.y = val;
      });
    gui
      .add(pointLight1.position, "z", -10, 10, 0.1)
      .name("point1Z")
      .onChange((val) => {
        point1.position.z = val;
      });
    gui.add(pointLight1, "distance", 0, 20, 0.1).name("p1照射距离");
    gui.add(pointLight1, "decay", 0, 20, 0.1).name("p1衰退量");
    gui.add(pointLight2, "distance", 0, 20, 0.1).name("p2照射距离");
    gui.add(pointLight2, "decay", 0, 20, 0.1).name("p2衰退量");
    gui
      .add(pointLight2.position, "x", -10, 10, 0.1)
      .name("point2X")
      .onChange((val) => {
        point2.position.x = val;
      });
    gui
      .add(pointLight2.position, "y", -10, 10, 0.1)
      .name("point2Y")
      .onChange((val) => {
        point2.position.y = val;
      });
    gui
      .add(pointLight2.position, "z", -10, 10, 0.1)
      .name("point2Z")
      .onChange((val) => {
        point2.position.z = val;
      });
  
    // 辅助坐标系  red: x green:y blue: z
    const axesHelper = new THREE.AxesHelper(4);
    scene.add(axesHelper);
    // 添加网格平面
    const gridHelper = new THREE.GridHelper();
    gridHelper.position.y = -1;
    scene.add(gridHelper);
    // 创建观察场景的相机
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机
    // 设置相机位置
    camera.position.set(1.5, 1.5, 3); // 相机默认的坐标是在(0,0,0);
    // 设置相机方向
    camera.lookAt(scene.position); // 将相机朝向场景
    // 将相机添加到场景中
    scene.add(camera);
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
    // 开启阴影渲染 不开启没有阴影
    renderer.shadowMap.enabled = true;
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    // 更新画布
    const tick = () => {
      // update objects
      controls.update();
      camera.updateProjectionMatrix();
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  