
<template>
  <canvas id="c"></canvas>
</template>

<script setup>
import * as THREE from "three";
import { onMounted } from "vue";
import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
import { RectAreaLightHelper } from "three/examples/jsm/helpers/RectAreaLightHelper";
import { RectAreaLightUniformsLib } from "three/examples/jsm/lights/RectAreaLightUniformsLib";
import * as dat from "dat.gui";
onMounted(() => {
  const gui = new dat.GUI();
  const canvas = document.getElementById("c");
  const width = window.innerWidth;
  const height = window.innerHeight;
  // 创建3D场景
  const scene = new THREE.Scene();
  const ambientLight = new THREE.AmbientLight(0xffffff, 0.8);
  const directionalLight = new THREE.DirectionalLight(0xffffff, 0.95);
  ambientLight.visible = true;
  directionalLight.visible = false;
  
 
  RectAreaLightUniformsLib.init(); // 具有反光效果
  scene.add(ambientLight, directionalLight);
  // 此属性设置为 true 灯光将投射阴影
  // directionalLight.castShadow = true;

  const textureLoader = new THREE.TextureLoader();
  const floorTexture = textureLoader.load(
    "./src/assets/images/textures/floor_tiles_06/floor_tiles_06_diff_2k.jpg"
  );
  const wallTexture = textureLoader.load(
    "./src/assets/images/textures/large_sandstone_blocks/large_sandstone_blocks_diff_2k.jpg"
  );
  const picture1 = textureLoader.load(
    "./src/assets/images/textures/frames/A02I7634.png"
  );
  const picture2 = textureLoader.load(
    "./src/assets/images/textures/frames/A02I7717.png"
  );
  const picture3 = textureLoader.load(
    "./src/assets/images/textures/frames/A02I7723.png"
  );
  floorTexture.colorSpace = THREE.SRGBColorSpace;
  wallTexture.colorSpace = THREE.SRGBColorSpace;
  picture1.colorSpace = THREE.SRGBColorSpace;
  picture2.colorSpace = THREE.SRGBColorSpace;
  picture3.colorSpace = THREE.SRGBColorSpace;
  const box = new THREE.Mesh(
    new THREE.BoxGeometry(1, 1, 1),
    new THREE.MeshStandardMaterial({
      color: 0x1890ff,
      roughness: 0.1, // 材质的粗糙程度。0.0表示平滑的镜面反射
      metalness: 0, // 非金属材质，如木材或石材，使用0.0
    })
  );
  const geometry = new THREE.PlaneGeometry(10, 10);
  // 地板
  const floor = new THREE.Mesh(
    geometry,
    new THREE.MeshStandardMaterial({
      map: floorTexture,
      side: THREE.DoubleSide,
      roughness: 0.1, // 材质的粗糙程度。0.0表示平滑的镜面反射，1.0表示完全漫反射
      metalness: 0, // 材质与金属的相似度。非金属材质，如木材或石材，使用0.0，金属使用1.0，
    })
  );
  // 墙面
  const wall = new THREE.Mesh(
    geometry,
    new THREE.MeshStandardMaterial({
      map: wallTexture,
      side: THREE.DoubleSide,
      roughness: 0.1,
      metalness: 0,
    })
  );
  wall.position.z -= 1;
  wall.position.y = 0;
  floor.position.y = -1;
  floor.rotation.x = -Math.PI / 2;
  // box.castShadow = true; // 物体产生阴影
  floor.receiveShadow = true; // 地面接收阴影
  wall.receiveShadow = true; // 墙体接受阴影
  // directionalLight.target = box
  scene.add(floor, wall);

  // 创建相框
  const createFrame = (scene, texture, width, height, x, y, z) => {
    const group = new THREE.Group();
    const geometry = new THREE.PlaneGeometry(width, height);
    const material = new THREE.MeshStandardMaterial({
      color: 0xd08a38,
    });
    // 相框
    const planeBg = new THREE.Mesh(geometry, material);
    const frameGeometry = new THREE.PlaneGeometry(width - 0.5, height - 0.5);
    const frameMaterial = new THREE.MeshStandardMaterial({
      map: texture,
      metalness: 0,
      roughness: 0.1,
    });
    const frame = new THREE.Mesh(frameGeometry, frameMaterial);
    planeBg.position.z -= 0.001;
    frame.position.z += 0.1;
    group.add(planeBg, frame);
    group.position.x = x;
    group.position.y = y;
    group.position.z = z;
    scene.add(group);
  };
  createFrame(scene, picture1, 4, 6, -2, 2, -0.8);
  createFrame(scene, picture2, 4, 6, 3, 2, -0.8);

  // 添加平面光

  /**
   *  不支持阴影。
   *  只支持 MeshStandardMaterial 和 MeshPhysicalMaterial 两种材质。
   *  你必须在你的场景中加入 RectAreaLightUniformsLib，并调用 init()。
   */
  
  const rectLight1 = new THREE.RectAreaLight(0xffffff, 5, 2, 4);
  const rectLightHelper1 = new RectAreaLightHelper(rectLight1);
  rectLight1.position.set(-1, 0, 3)

  scene.add(rectLight1, rectLightHelper1);

  const lightFolder = gui.addFolder("平面光1");
  lightFolder.open();
  lightFolder.add(rectLight1, "visible").name("可见性");
  lightFolder.add(rectLight1, "intensity", 0, 10, 0.1).name("强度");
  lightFolder
    .addColor(rectLight1, "color")
    .name("颜色")
    .onChange((val) => {
      rectLight1.color = new THREE.Color(val.r, val.g, val.b);
    });
  lightFolder.add(rectLight1, "width", 0, 10, 0.1).name("宽度");
  lightFolder.add(rectLight1, "height", 0, 10, 0.1).name("高度");
  lightFolder.add(rectLight1.position, "x", -30, 30, 0.1).name("位置X");
  lightFolder.add(rectLight1.position, "y", -30, 30, 0.1).name("位置Y");
  lightFolder.add(rectLight1.position, "z", -30, 30, 0.1).name("位置Z");
  lightFolder
    .add(rectLight1.rotation, "x", -Math.PI, Math.PI, 0.1)
    .name("旋转X");
  lightFolder
    .add(rectLight1.rotation, "y", -Math.PI, Math.PI, 0.1)
    .name("旋转Y");
  lightFolder
    .add(rectLight1.rotation, "z", -Math.PI, Math.PI, 0.1)
    .name("旋转Z");

  // 辅助坐标系  red: x green:y blue: z
  const axesHelper = new THREE.AxesHelper(4);
  scene.add(axesHelper);
  // 添加网格平面
  const gridHelper = new THREE.GridHelper();
  gridHelper.position.y = -1;
  scene.add(gridHelper);
  // 创建观察场景的相机
  const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机
  // 设置相机位置
  camera.position.set(1.5, 1.5, 3); // 相机默认的坐标是在(0,0,0);
  // 设置相机方向
  camera.lookAt(scene.position); // 将相机朝向场景
  // 将相机添加到场景中
  scene.add(camera);
  // 创建渲染器
  const renderer = new THREE.WebGLRenderer({
    canvas,
    antialias: true, // 抗锯齿
    logarithmicDepthBuffer: true, // 改善远距离阴影
  });
  // 开启阴影渲染 不开启没有阴影
  renderer.shadowMap.enabled = true;
  renderer.setPixelRatio(window.devicePixelRatio);
  // 设置渲染器大小
  renderer.setSize(width, height);
  // 执行渲染
  renderer.render(scene, camera);

  const controls = new OrbitControls(camera, canvas);
  controls.enableDamping = true; // 启用拖拽惯性效果

  // 更新画布
  const tick = () => {
    // update objects
    controls.update();
    camera.updateProjectionMatrix();
    // 重新渲染整个场景
    renderer.render(scene, camera);
    // 调用下次更新函数
    window.requestAnimationFrame(tick);
  };

  tick();
});
</script>
