<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import { GUI } from "dat.gui";
  
  onMounted(() => {
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
    const textureLoader = new THREE.TextureLoader();
    // 添加全局光照
    const ambientLight = new THREE.AmbientLight(0xffffff, 1);
    ambientLight.visible = false;
    scene.add(ambientLight);
  
    const box = new THREE.Mesh(
      new THREE.BoxGeometry(3, 3, 3),
      new THREE.MeshBasicMaterial({
        color: 0x1890ff,
      })
    );
    const geometry = new THREE.PlaneGeometry(1000, 1000);
    const floor = new THREE.Mesh(
      geometry,
      new THREE.MeshStandardMaterial({
        color: 0x666666,
        side: THREE.DoubleSide,
        metalness: 0,
      })
    );
  
    box.position.y = 4;
    box.castShadow = true;
    floor.receiveShadow = true;
    floor.rotation.x = -Math.PI / 2;
    floor.position.y = -1;
    scene.add(box, floor);
  
    // 添加聚光灯
    const spotLight1 = new THREE.SpotLight(0xff00ff, 2);
    const bgc = textureLoader.load("./src/assets/images/textures/disturb.jpg");
    spotLight1.position.set(0, 15, 0);
    spotLight1.angle = Math.PI / 4;
    spotLight1.map = bgc;
    // spotLight1.distance = 15
    spotLight1.penumbra = 0.1;
    spotLight1.power = 25;
    spotLight1.castShadow = true; // 开启阴影
    spotLight1.decay = 0;
    const spotLightHelper1 = new THREE.SpotLightHelper(spotLight1);
    scene.add(spotLight1, spotLightHelper1);
    spotLight1.target = box;
  
    const gui = new GUI();
    gui.add(ambientLight, "intensity", 0, 1, 0.1).name("环境光强度");
    gui.add(ambientLight, "visible").name("环境光可见性");
    gui
      .add(box.position, "x", -30, 30, 0.1)
      .name("boxX")
      .onChange(() => {
        spotLightHelper1.update();
      });
    gui
      .add(box.position, "y", -30, 30, 0.1)
      .name("boxY")
      .onChange(() => {
        spotLightHelper1.update();
      });
    gui
      .add(box.position, "z", -30, 30, 0.1)
      .name("boxZ")
      .onChange(() => {
        spotLightHelper1.update();
      });
  
    const spotFolder = gui.addFolder("聚光灯1");
    spotFolder.add(spotLight1, "intensity", 0, 1, 0.1).name("强度");
    spotFolder.add(spotLight1, "power", 0, 30, 0.1).name("功率");
    spotFolder.add(spotLight1, "penumbra", 0, 1, 0.1).name("半影");
    spotFolder.add(spotLight1, "angle", 0, Math.PI / 2, 0.01).name("角度");
    spotFolder.add(spotLight1, "distance", 0, 100, 0.1).name("距离");
    spotFolder.add(spotLight1, "decay", 0, 10, 0.1).name("衰减");
    spotFolder
      .add(spotLight1, "visible")
      .name("可见性")
      .onChange((val) => {
        spotLightHelper1.visible = val;
      });
    spotFolder.add(spotLight1.position, "x", -30, 30, 0.1);
    spotFolder.add(spotLight1.position, "y", -30, 30, 0.1);
    spotFolder.add(spotLight1.position, "z", -30, 30, 0.1);
  
    const params = {
      open: false,
      radius: spotLight1.shadow.radius,
      switchHelpers() {
        params.open = !params.open;
        spotLightHelper1.visible = params.open;
      },
      near: spotLight1.shadow.camera.near,
      far: spotLight1.shadow.camera.far,
      fov: spotLight1.shadow.camera.fov,
    };
    gui.add(params, "switchHelpers").name("点击开启/关闭辅助线");
    spotFolder.add(spotLight1, "castShadow").name("阴影");
    spotFolder.add(params, "radius", 0, 20, 0.01).name("阴影半径");
    spotFolder.add(params, "near", 0.01, 30, 0.01).name("阴影相机near");
    spotFolder.add(params, "far", 0, 30, 0.1).name("阴影相机far");
    // 此处无效默认90度
    spotFolder.add(params, "fov", 0, 30, 0.1).name("阴影相机fov");
    spotFolder.open();
  
    console.log(spotLight1.shadow.camera);
    const aspectRadio = width / height;
    const camera = new THREE.PerspectiveCamera(75, aspectRadio, 0.01, 1000);
  
    camera.position.set(-2, 20, 20);
    // 设置相机方向
    camera.lookAt(scene.position); // 将相机朝向场景
    // 将相机添加到场景中
    scene.add(camera);
  
    // // 阴影相机辅助线
    const cameraHelper = new THREE.CameraHelper(spotLight1.shadow.camera);
    cameraHelper.visible = true;
    scene.add(cameraHelper);
  
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
  
    // 开启阴影渲染
    renderer.shadowMap.enabled = true;
    renderer.outputColorSpace = THREE.SRGBColorSpace;
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
  
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    const tick = () => {
      spotLight1.shadow.camera.near = params.near;
      spotLight1.shadow.camera.far = params.far;
      spotLight1.shadow.camera.fov = params.fov;
      spotLight1.shadow.radius = params.radius;
      spotLightHelper1.update();
      cameraHelper.update();
      controls.update();
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  