
<template>
  <canvas id="c"></canvas>
</template>

<script setup>
import * as THREE from "three";
import { onMounted } from "vue";
import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
import * as dat from "dat.gui";
onMounted(() => {
  const gui = new dat.GUI();
  const canvas = document.getElementById("c");
  const width = window.innerWidth;
  const height = window.innerHeight;
  // 创建3D场景
  const scene = new THREE.Scene();
  const ambientLight = new THREE.AmbientLight(0xffffff, 0.8);
  // 添加方向光
  const directionalLight = new THREE.DirectionalLight(0xffffff, 0.8);
  // directionalLight.position.set(0, 10, 0);
  scene.add(ambientLight);
  scene.add(directionalLight);

  // 感光材质 只有感光材质才对光照有反应
  const material = new THREE.MeshLambertMaterial({
    color: 0x1890ff,
    side: THREE.DoubleSide,
    transparent: true,
    opacity: 0.7,

  });

  const plane = new THREE.Mesh(new THREE.PlaneGeometry(1, 1), material); // 平面
  const sphere = new THREE.Mesh(
    new THREE.SphereGeometry(0.5, 16, 16),
    material
  ); // 球体
  const box = new THREE.Mesh(new THREE.BoxGeometry(1, 1, 1), material); // 立方体
  const torus = new THREE.Mesh(
    new THREE.TorusGeometry(0.4, 0.2, 16, 32),
    material
  ); // 圆环

  console.log(material);
  console.log(THREE.DoubleSide);
  plane.position.z = -1;
  box.position.z = 1;
  sphere.position.x = -1.5;
  torus.position.x = 1.5;



  scene.add(plane, box, sphere, torus)
  gui.addColor({ color: 0x1890ff }, 'color').onChange((val) => {
      material.color = new THREE.Color(val);
  });
  gui.add(material, 'opacity', 0, 1, 0.1);
  gui.add(material, 'wireframe').name('框线');
  gui.add(material, 'side', ['FrontSide', 'BackSide', 'DoubleSide']).onChange((val) => {
    material.side = THREE[val];
  }); 
  const lightFolder = gui.addFolder('光照')
  lightFolder.add(directionalLight.position, 'x', -20, 20, 0.1)
  lightFolder.add(directionalLight.position, 'y', -20, 20, 0.1)
  lightFolder.add(directionalLight.position, 'z', -20, 20, 0.1)
  lightFolder.add(directionalLight, 'intensity', 0, 1, 0.1)
  lightFolder.open()
 






  // 辅助坐标系  red: x green:y blue: z
  const axesHelper = new THREE.AxesHelper(4);
  scene.add(axesHelper);
  // 添加网格平面
  const gridHelper = new THREE.GridHelper();
  scene.add(gridHelper);
  // 创建观察场景的相机
  const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机
  // 设置相机位置
  camera.position.set(1.5, 1.5, 3); // 相机默认的坐标是在(0,0,0);
  // 设置相机方向
  camera.lookAt(scene.position); // 将相机朝向场景
  // 将相机添加到场景中
  scene.add(camera);

  // 创建渲染器
  const renderer = new THREE.WebGLRenderer({
    canvas,
    antialias: true, // 抗锯齿
  });

  renderer.setPixelRatio(window.devicePixelRatio);
  // 设置渲染器大小
  renderer.setSize(width, height);
  // 执行渲染
  renderer.render(scene, camera);

  const controls = new OrbitControls(camera, canvas);
  controls.enableDamping = true; // 启用拖拽惯性效果

  // 更新画布
  const tick = () => {
    // update objects
    controls.update();
    camera.updateProjectionMatrix();
    // 重新渲染整个场景
    renderer.render(scene, camera);
    // 调用下次更新函数
    window.requestAnimationFrame(tick);
  };

  tick();
});
</script>
