
<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import * as dat from "dat.gui";
  onMounted(() => {
    const gui = new dat.GUI();
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
    const ambientLight = new THREE.AmbientLight(0xffffff, 0.8);
    // 添加方向光
    const directionalLight = new THREE.DirectionalLight(0xffffff, 0.8);
    // directionalLight.position.set(0, 10, 0);
    scene.add(ambientLight);
    scene.add(directionalLight);
    // scene.overrideMaterial = new THREE.MeshDepthMaterial();
    // 深度网格材质 适合建立雾中的场景 靠近相机才清楚
    const geometry = new THREE.SphereGeometry(0.5, 64, 64);
    const material = new THREE.MeshDepthMaterial();
    const mesh1 = new THREE.Mesh(geometry, material);
    const mesh2 = new THREE.Mesh(geometry, material);
    const mesh3 = new THREE.Mesh(geometry, material);
    const mesh4 = new THREE.Mesh(geometry, material);
  
    mesh1.position.z = 0
    mesh2.position.z = 1  
    mesh3.position.z = 2
    mesh4.position.z = 3
    scene.add(mesh1, mesh2, mesh3, mesh4);
  
    
  
  
  
    // 辅助坐标系  red: x green:y blue: z
    const axesHelper = new THREE.AxesHelper(4);
    scene.add(axesHelper);
    // 添加网格平面
    const gridHelper = new THREE.GridHelper();
    scene.add(gridHelper);
    // 创建观察场景的相机
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机
    // 设置相机位置
    camera.position.set(1.5, 1.5, 3); // 相机默认的坐标是在(0,0,0);
    // 设置相机方向
    camera.lookAt(scene.position); // 将相机朝向场景
    // 将相机添加到场景中
    scene.add(camera);
    gui.add(camera.position, 'z', 0.1, 10, 0.1).name('cameraZ');
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
  
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    // 更新画布
    const tick = () => {
      // update objects
      controls.update();
      camera.updateProjectionMatrix();
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  