
<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import * as dat from "dat.gui";
  import { color, log } from "three/examples/jsm/nodes/Nodes.js";
  onMounted(() => {
    const gui = new dat.GUI();
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
    const ambientLight = new THREE.AmbientLight(0xffffff, 0.8);
    // 添加方向光
    const directionalLight = new THREE.DirectionalLight(0xffffff, 0.8);
    scene.add(ambientLight);
    scene.add(directionalLight);
    
    const loadingManager = new THREE.LoadingManager();
    const textureLoader = new THREE.TextureLoader(loadingManager);
    const colorTexture = textureLoader.load('./src/assets/images/textures/Glass_Vintage_001/Glass_Vintage_001_basecolor.jpg');
    const threeToneTexture = textureLoader.load('./src/assets/images/textures/threeTone.jpg');
    const fiveToneTexture = textureLoader.load('./src/assets/images/textures/fiveTone.jpg');
    const geometry = new THREE.SphereGeometry(1, 64, 64);
    const geometry2 = new THREE.SphereGeometry(1, 64, 64);
  
    // 卡通风格材质？不好使
    const meshMaterial = new THREE.MeshToonMaterial({
      // color: 0x1890ff,
      map: colorTexture,
      gradientMap: null,
  });
  
    const mesh = new THREE.Mesh(geometry, meshMaterial)
    // const mesh2 = new THREE.Mesh(geometry2, meshMaterial)
    
    // mesh2.position.z = 2
    mesh.position.z = -2
    scene.add(mesh)
  
    gui.add(mesh.material, 'gradientMap', [
      'none', 'three', 'five',
    ]).onChange((val) => {
    console.log(val)
    if (val === 'none') {
      mesh.material.gradientMap = null;
    } else if (val === 'three') {
      // 当一个纹素（选的图片的像素）覆盖大于一个像素时(小像素覆盖大像素时)
      threeToneTexture.magFilter = THREE.NearestFilter;
      // threeToneTexture.generateMipmaps = false;
      mesh.material.gradientMap = threeToneTexture
      console.log(mesh)
    } else {
      fiveToneTexture.magFilter = THREE.NearestFilter;
      // fiveToneTexture.generateMipmaps = false;
      mesh.material.gradientMap = fiveToneTexture 
    }
    mesh.material.needsUpdate = true;
  })
  gui.add(directionalLight.position, 'x', -10, 10, 0.1);
  gui.add(directionalLight.position, 'y', -10, 10, 0.1);
  gui.add(directionalLight.position, 'z', -10, 10, 0.1);
    
  
    // 辅助坐标系  red: x green:y blue: z
    const axesHelper = new THREE.AxesHelper(4);
    scene.add(axesHelper);
    // 添加网格平面
    const gridHelper = new THREE.GridHelper();
    scene.add(gridHelper);
    // 创建观察场景的相机
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机
    // 设置相机位置
    camera.position.set(1.5, 1.5, 3); // 相机默认的坐标是在(0,0,0);
    // 设置相机方向
    camera.lookAt(scene.position); // 将相机朝向场景
    // 将相机添加到场景中
    scene.add(camera);
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
  
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    // 更新画布
    const tick = () => {
      // update objects
      controls.update();
      camera.updateProjectionMatrix();
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  