
<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import * as dat from "dat.gui";
  import { color, log } from "three/examples/jsm/nodes/Nodes.js";
  onMounted(() => {
    const gui = new dat.GUI();
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
    const ambientLight = new THREE.AmbientLight(0xffffff, 0.8);
    // 添加方向光
    const directionalLight = new THREE.DirectionalLight(0xffffff, 0.8);
    scene.add(ambientLight);
    scene.add(directionalLight);
    // 法线网格材质
  //   根据物体表面的法向量计算颜色
  
  // 没有 color, map 等属性, 对光照没有反应
  
  // 法向量的作用： 决定光的发射方向、在计算光照、阴影时提供信息、为物体表面上色。
  
  // 法向量所指的方向决定每个面从 MeshNormalMaterial 材质获取到的颜色。
  
  // flatShading 和分段数会影响法向量计算结果
  
    const material = new THREE.MeshNormalMaterial();
    const plane = new THREE.Mesh(new THREE.PlaneGeometry(1, 1), material); // 平面
    const sphere = new THREE.Mesh(new THREE.SphereGeometry(0.5, 16, 16), material); // 球体
    const box = new THREE.Mesh(new THREE.BoxGeometry(1, 1, 1), material); // 立方体
    const torus = new THREE.Mesh(new THREE.TorusGeometry(0.4, 0.2, 16, 32), material); // 圆环
    
    console.log(material);
    plane.position.z = -1;
    box.position.z = 1;
    sphere.position.x = -1.5;
    torus.position.x = 1.5;
  
    
    gui.add(directionalLight.position, 'x', -10, 10, 0.1);
    gui.add(directionalLight.position, 'y', -10, 10, 0.1);
    gui.add(directionalLight.position, 'z', -10, 10, 0.1);
    const meshFolder = gui.addFolder('物体');
    meshFolder.add(material, 'wireframe')
    // 对曲面有用 让曲面以平面的方式展示
    meshFolder.add(material, 'flatShading').onChange((val) => {
      material.needsUpdate = true
    })
    // 球的水平分段数
    meshFolder.add(sphere.geometry.parameters,'widthSegments', 16, 100, 1).onChange((val) => {
      sphere.geometry.dispose()
      const geometry = new THREE.SphereGeometry(0.5, val, 16)
      sphere.geometry = geometry
    })
    // 球的垂直分段数
    meshFolder.add(sphere.geometry.parameters,'heightSegments', 16, 100, 1).onChange((val) => {
      sphere.geometry.dispose()
      const geometry = new THREE.SphereGeometry(0.5, 16, val)
      sphere.geometry = geometry
    })
    scene.add(plane, sphere, box, torus)
  
    // 辅助坐标系  red: x green:y blue: z
    const axesHelper = new THREE.AxesHelper(4);
    scene.add(axesHelper);
    // 添加网格平面
    const gridHelper = new THREE.GridHelper();
    scene.add(gridHelper);
    // 创建观察场景的相机
    const camera = new THREE.PerspectiveCamera(75, width / height, 0.01, 1000); // 透视相机
    // 设置相机位置
    camera.position.set(1.5, 1.5, 3); // 相机默认的坐标是在(0,0,0);
    // 设置相机方向
    camera.lookAt(scene.position); // 将相机朝向场景
    // 将相机添加到场景中
    scene.add(camera);
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
  
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    // 更新画布
    const tick = () => {
      // update objects
      controls.update();
      camera.updateProjectionMatrix();
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  