<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import { GUI } from "dat.gui";
  
  onMounted(() => {
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
  
    const color = 0xe0e0e0;
    /**
     *  在threejs中是对物体表面颜色的模拟,非现实中的微小颗粒
     *  是基于相机的距离逐渐褪色至某种特定的颜色的方式
     *  它可以在相机附近提供清晰的视野，且距离相机越远，雾的浓度随着指数增长越快。
     */
    // 指数雾
    scene.fog = new THREE.FogExp2(color, 0.04);
    scene.background = new THREE.Color(color);
  
    // 添加全局光照
    const ambientLight = new THREE.AmbientLight(0xffffff, 1);
    // ambientLight.visible = false;
    scene.add(ambientLight);
    // 辅助坐标系
    const axesHelper = new THREE.AxesHelper(4);
    scene.add(axesHelper);
  
    // 添加网格平面
    const gridHelper = new THREE.GridHelper(1000, 100);
    gridHelper.position.y = 0.001;
    scene.add(gridHelper);
  
    const textureLoader = new THREE.TextureLoader();
    const matcapTexture = textureLoader.load(
      "./src/assets/images/textures/matcaps/BA472D_CA6E67-256px.png"
    );
    // src\assets\images\textures\large_sandstone_blocks\large_sandstone_blocks_diff_2k.jpg
    const wallTexture = textureLoader.load(
      './src/assets/images/textures/large_sandstone_blocks/large_sandstone_blocks_diff_2k.jpg'
    );
    
    wallTexture.rotation = Math.PI / 4;
    wallTexture.wrapT = THREE.RepeatWrapping;
    const createMesh = (z = 1) => {
      const geometry = new THREE.TorusGeometry(
        Math.random(), // [0-1]
        Math.abs(Math.random() - 0.6) // [0-0.4]
      );
  
      const mesh = new THREE.Mesh(
        geometry,
        new THREE.MeshMatcapMaterial({
          color: color || 0xffffff,
          matcap: matcapTexture,
          fog: z < 0
        })
      );
      mesh.name = "random-mesh";
      mesh.position.set(
        (Math.random() - 0.5) * 50,
        1,
        (Math.random() - 0.5) * 50 * z
      );
      /* mesh.rotation.set(
          Math.random() * Math.PI,
          Math.random() * Math.PI,
          Math.random() * Math.PI,
        ); */
      mesh.setRotationFromEuler(
        new THREE.Euler(
          Math.PI * Math.random(),
          Math.PI * Math.random(),
          Math.PI * Math.random()
        )
      );
      // 缩放
      const scale = Math.random() * 0.5 + 0.3; // [0.2-1.2]
  
      mesh.scale.set(scale, scale, scale);
  
      scene.add(mesh);
    };
  
    for (let i = 0; i < 200; i++) {
      createMesh(1);
      createMesh(-1);
    }
  
    const box = new THREE.Mesh(
      new THREE.BoxGeometry(1, 1, 1),
      new THREE.MeshLambertMaterial({
        color: 0x1890ff,
      })
    );
    const geometry = new THREE.PlaneGeometry(1000, 1000);
  
    const outFloor = new THREE.Mesh(
      geometry,
      new THREE.MeshStandardMaterial({
        color: 0x666666,
        side: THREE.DoubleSide,
      })
    )
    // 屋内材质不受雾干扰
    const inFloor = new THREE.Mesh(
      geometry,
      new THREE.MeshStandardMaterial({
        color: 0x666666,
        side: THREE.DoubleSide,
        fog: false
      })
    );
     
    const wall = new THREE.Mesh(
      new THREE.RingGeometry(10, 50, 4, 8),
      new THREE.MeshStandardMaterial({
        color: 0x666666,
        side: THREE.DoubleSide,
        map: wallTexture,
        fog: false,
      })
    )
    wall.rotation.z = Math.PI / 4
    wall.position.y = 10;
  
  
    scene.add(box, wall, inFloor, outFloor);
    box.position.y = 1;
    inFloor.rotation.x = -Math.PI / 2;
    inFloor.position.z = 500
    outFloor.rotation.x = -Math.PI / 2;
    outFloor.position.z = -500
  
    const aspectRadio = width / height;
    const camera = new THREE.PerspectiveCamera(75, aspectRadio, 0.01, 1000);
  
    camera.position.set(1, 10, 20);
  
    const gui = new GUI({ width: 170 });
    gui.add(ambientLight, "intensity", 0, 1, 0.1).name("环境光强度");
    gui.add(ambientLight, "visible").name("环境光可见性");
  
    const boxFolder = gui.addFolder("box");
    boxFolder.open();
    boxFolder.add(box.position, "z", -50, 50, 0.1);
    boxFolder.add(box.material, "fog").onChange((val) => {
      const material = new THREE.MeshLambertMaterial({
        color: 0x1890ff,
      });
      // 设置材质是否受雾影响
      material.fog = val;
      box.material = material;
    });
  
    const fog = gui.addFolder("fog");
    fog
      .addColor(scene.fog, "color")
      .name("颜色")
      .onChange((val) => {
        const color = new THREE.Color(val.r, val.g, val.b);
  
        scene.fog.color = color;
        scene.background = color;
      });
      fog.add(scene.fog, 'density', 0, 0.4, 0.01).name('密度');
      fog.open();
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
  
    renderer.outputColorSpace = THREE.SRGBColorSpace;
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
  
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    const tick = () => {
      controls.update();
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  