<template>
  <canvas id="c"></canvas>
  <div id="tooltip"></div>
</template>

<script setup>
import * as THREE from "three";
import { onMounted } from "vue";
import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
import { DragControls } from "three/examples/jsm/controls/DragControls";
import { GLTFLoader } from "three/examples/jsm/loaders/GLTFLoader";
import { DRACOLoader } from "three/examples/jsm/loaders/DRACOLoader";
import { GUI } from "dat.gui";

onMounted(() => {
  const canvas = document.getElementById("c");
  const width = window.innerWidth;
  const height = window.innerHeight;

  /**
   * 大屏
   */
  const sceen = new THREE.Scene();
  sceen.background = new THREE.Color(0x01a6ff);
  new THREE.TextureLoader().load("./images/bg.png", (bg) => {
    sceen.background = bg;
  });

  /**
   * 光线
   */
  const ambientLight = new THREE.AmbientLight(0xffffff);
  const directionalLight = new THREE.DirectionalLight(0xffffff);
  const dirHelper = new THREE.DirectionalLightHelper(directionalLight);
  directionalLight.position.set(-5, 5, 5);
  sceen.add(ambientLight, directionalLight, dirHelper);

  /**
   * 创建相机
   */
  const camera = new THREE.PerspectiveCamera(75, width / height, 0.1, 1000);
  camera.position.set(0, 0, 10);
  sceen.add(camera);

  /**
   *
   * MODELS
   */
  const dracoLoader = new DRACOLoader();
  dracoLoader.setDecoderPath("./draco/");

  const gltfLoader = new GLTFLoader();
  gltfLoader.setDRACOLoader(dracoLoader);
  let modelLoaded = false;
  gltfLoader.load(
    new URL(
      "./assets/images/shark_animation/scene.gltf",
      import.meta.url
    ).href,
    (gltf) => {
      console.log(gltf, "gltf");
      gltf.scene.scale.set(0.5, 0.5, 0.5);
      gltf.scene.traverse((obj) => {
        if (obj.isMesh && obj.material) {

          // THREE.GLTFLoader: Unknown extension "KHR_materials_pbrSpecularGlossiness"
          // threejs不支持KHR_materials_pbrSpecularGlossiness扩展需要使用pbr材质替换
          const { gltfExtensions } = obj.material.userData;
          if (gltfExtensions) {
            console.log(gltfExtensions);
            const pbr = gltfExtensions.KHR_materials_pbrSpecularGlossiness;
            const sharkMap  = new THREE.TextureLoader().load(
              new URL(
              './assets/images/shark_animation/textures/material_0_diffuse.png',
              import.meta.url).href
            );
            const specularGlossinessTexture = new THREE.TextureLoader().load(
              new URL(
              './assets/images/shark_animation/textures/material_0_specularGlossiness.png',
              import.meta.url).href
              )
            // sRGB 颜色空间是大多数图像文件（如 JPEG、PNG）使用的标准颜色空间，它更符合人眼对亮度的感知。 
            sharkMap.colorSpace = THREE.SRGBColorSpace;
            // 控制纹理在Y轴方向是否翻转。
            sharkMap.flipY = false;
            const material = new THREE.MeshPhysicalMaterial({
                map: sharkMap,
                color: new THREE.Color(
                  pbr.diffuseFactor[0],
                  pbr.diffuseFactor[1],
                  pbr.diffuseFactor[2]
                ),
                sheen: pbr.glossinessFactor, // 光泽层的强度 0-1
                specularIntensityMap: specularGlossinessTexture,
                specularColor: new THREE.Color(
                  pbr.specularFactor[0],
                  pbr.specularFactor[1],
                  pbr.specularFactor[2]
                ), // 高光反射颜色
                roughness: 0.2,
              });
            obj.material = material;
            directionalLight.target = obj;
            dirHelper.update();
          }
          
        }
      });
      sceen.add(gltf.scene);


    },
    (xhr) => {
      // console.log("progress", xhr);
      console.log((xhr.loaded / xhr.total) * 100 + "% loaded");
    },
    (error) => {
      console.log("error", error);
    }
  );

  /**
   * 辅助坐标系
   * red: x green:y blue: z
   */
  const axesHelper = new THREE.AxesHelper(4);
  sceen.add(axesHelper);

  /**
   * 创建网格
   */
  const gridHelper = new THREE.GridHelper(10, 25, 0xffd9d9);
  // gridHelper.position.y = 1
  sceen.add(gridHelper);
  /**
   * 创建物体
   */

  const texture = new THREE.TextureLoader().load(
    new URL(
      "./assets/images/textures/Warning_Sign_HighVoltage_001/Warning_Sign_HighVoltage_001_basecolor.jpg",
      import.meta.url
    ).href
  );
  texture.colorSpace = THREE.SRGBColorSpace;

   

  /**
   * 创建渲染器
   */
  const renderer = new THREE.WebGLRenderer({
    canvas: canvas,
    antialias: true, // 抗锯齿
    logarithmicDepthBuffer: true, // 启用对数深度缓冲 谨慎开启
  });
  // 设置渲染器的像素比
  renderer.setPixelRatio(window.devicePixelRatio);
  // 设置渲染器的尺寸
  renderer.setSize(width, height);
  renderer.render(sceen, camera);
  /**
   * 创建控制器
   */
  const controls = new OrbitControls(camera, canvas);
  controls.enableDamping = true; // 启用拖拽惯性效果

  
  const tick = () => {
  
    controls.update();
    renderer.render(sceen, camera);
    requestAnimationFrame(tick);
  };

  tick();
});
</script>
<style scoped>
#tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none;
}
</style>