<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import { GUI } from "dat.gui";
  
  onMounted(() => {
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
  
    // 添加全局光照
    const ambientLight = new THREE.AmbientLight(0xffffff, 1);
    scene.add(ambientLight);
    // 辅助坐标系
    const axesHelper = new THREE.AxesHelper(4);
    scene.add(axesHelper);
    const aspectRadio = width / height;
    const camera = new THREE.PerspectiveCamera(75, aspectRadio, 0.01, 1000);
    camera.position.set(1, 10, 20);
    const textureLoader = new THREE.TextureLoader();
    const rain = textureLoader.load("./src/assets/images/textures/raindrop.png");
    rain.colorSpace = THREE.SRGBColorSpace;
    
  
    
    for (let i = -10; i < 10; i++) {
      for (let j = -10; j < 10; j++) {
        const material = new THREE.SpriteMaterial({
          color: Math.random() * 0xffffff,
          rotation: Math.random() * Math.PI,
          map: rain,
        });
        const sprite = new THREE.Sprite(material);
        sprite.position.set(i * Math.random(), j * Math.random(), Math.random() * 10);
        scene.add(sprite);
      }
    }
  
    
  
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
  
    renderer.outputColorSpace = THREE.SRGBColorSpace;
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
  
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    const tick = () => {
      controls.update();
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  