<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import { GUI } from "dat.gui";
  
  onMounted(() => {
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
  
    // 添加全局光照
    const ambientLight = new THREE.AmbientLight(0xffffff, 1);
    scene.add(ambientLight);
  
    const aspectRadio = width / height;
    const camera = new THREE.PerspectiveCamera(75, aspectRadio, 0.01, 1000);
    camera.position.set(1, 10, 20);
    const textureLoader = new THREE.TextureLoader();
    
    // 创建粒子几何体
    // const geometry = new THREE.BufferGeometry()
    // geometry.setAttribute('position', new THREE.Float32BufferAttribute([
      
    // ]), 3)
  
    const material = new THREE.PointsMaterial({
      color: Math.random() * 0xffffff,
      size: 1,
      sizeAttenuation: false, // 指定点的大小是否因相机深度而衰减。（仅限透视相机）默认为true。
    })
    
    // 正方体 
    const box = new THREE.BoxGeometry(5, 5, 5, 15, 15, 15)
    // 球体
    const sphere = new THREE.SphereGeometry( 15, 32, 16 );
    const point = new THREE.Points(sphere, material)
  
    scene.add(point)
  
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
  
    renderer.outputColorSpace = THREE.SRGBColorSpace;
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
  
    controls.enableDamping = true; // 启用拖拽惯性效果
  
    const tick = () => {
      controls.update();
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  