<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
  import * as THREE from "three";
  import { onMounted } from "vue";
  import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
  import { GUI } from "dat.gui";
  
  onMounted(() => {
    const canvas = document.getElementById("c");
    const width = window.innerWidth;
    const height = window.innerHeight;
    // 创建3D场景
    const scene = new THREE.Scene();
  
    // 添加全局光照
    const ambientLight = new THREE.AmbientLight(0xffffff, 1);
    scene.add(ambientLight);
  
    const aspectRadio = width / height;
    const camera = new THREE.PerspectiveCamera(75, aspectRadio, 0.01, 1000);
    camera.position.set(1, 10, 20);
    const textureLoader = new THREE.TextureLoader();
  
    // 通过创建点来创建不规则图形
    const geometry = new THREE.BufferGeometry();
    const positions = [];
    const color = new THREE.Color();
    const colors = [];
    for (let i = 0; i < 500; i++) {
      for (let j = 0; j < 500; j++) {
        const x = i - 250;
        const y = j - 250;
  
        positions.push(x, y, 0);
        color.setRGB(i / 500, j / 500, Math.random());
        colors.push(color.r, color.g, color.b);
      }
    }
    geometry.setAttribute(
      "position",
      new THREE.Float32BufferAttribute(positions, 3)
    );
    geometry.setAttribute("color", new THREE.Float32BufferAttribute(colors, 3));
    geometry.computeBoundingSphere(); // 设置完属性之后 调用一下
    const material = new THREE.PointsMaterial({
      // color: 0x00ffff,
      size: 0.1,
      vertexColors: true, // 是否使用顶点着色。默认值为false。 每个节点都带上颜色
    });
  
    const point = new THREE.Points(geometry, material);
    scene.add(point);
    const gui = new GUI();
    const params = {
      color: material.color,
      vertexColors: material.vertexColors,
      frequency: 0.5,
      amplitude: 0.5,
      rotate: true,
      rotationVal: 0.01,
    };
  
    gui.addColor(params, "color").onChange((val) => {
      material.color = new THREE.Color(val.r / 255, val.g / 255, val.b / 255);
  
      material.needsUpdate = true;
    });
    gui.add(material, "size", 0.05, 2, 0.05);
    gui.add(params, "frequency", 0, 2, 0.01).name("频率");
    gui.add(params, "amplitude", 0, 2, 0.01).name("振幅");
    gui
      .add(params, "vertexColors")
      .name("顶点着色")
      .onChange((val) => {
        material.vertexColors = val;
        material.needsUpdate = true;
      });
    gui
      .add(params, "rotate")
      .name("旋转")
      .onChange((val) => {
        params.rotationVal = val ? 0.01 : 0;
      });
  
    // 创建渲染器
    const renderer = new THREE.WebGLRenderer({
      canvas,
      antialias: true, // 抗锯齿
    });
  
    renderer.outputColorSpace = THREE.SRGBColorSpace;
    renderer.setPixelRatio(window.devicePixelRatio);
    // 设置渲染器大小
    renderer.setSize(width, height);
    // 执行渲染
    renderer.render(scene, camera);
  
    const controls = new OrbitControls(camera, canvas);
    controls.enableDamping = true; // 启用拖拽惯性效果
    let clock = new THREE.Clock();
    const tick = () => {
      const elapsedTime = clock.getElapsedTime();
      const { position } = geometry.attributes;
      // console.log(position);
      for (let i = 0; i < position.count; i++) {
        const x = position.getX(i);
        const y = position.getY(i);
        const z =
          Math.sin(x * params.frequency + elapsedTime) * params.amplitude +
          Math.cos(y * params.frequency + elapsedTime) * params.amplitude;
        position.setXYZ(i, x, y, z);
      }
      position.needsUpdate = true;
      point.rotation.z += params.rotationVal;
      controls.update();
      // 重新渲染整个场景
      renderer.render(scene, camera);
      // 调用下次更新函数
      window.requestAnimationFrame(tick);
    };
  
    tick();
  });
  </script>
  