<template>
    <canvas id="c"></canvas>
  </template>
  
  <script setup>
    import * as THREE from 'three';
    import { onMounted } from 'vue';
    import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';
    import Stats from 'three/examples/jsm/libs/stats.module';
    import vertShader from '@/note/08/8-5-glsl/shader.vert';
    import fragShader from '@/note/08/8-5-glsl/shader.frag';
    import { GUI } from 'dat.gui';
  
    onMounted(() => {
      // 创建性能监视器
      const stats = new Stats();
  
      // 设置监视器面板，传入面板id（0: fps, 1: ms, 2: mb）
      stats.setMode(0);
      stats.domElement.style.top = '';
      stats.domElement.style.bottom = '0px';
  
      // 将监视器添加到页面中
      document.body.appendChild(stats.domElement);
  
      const canvas = document.getElementById('c');
      const width = window.innerWidth;
      const height = window.innerHeight;
      // 创建3D场景
      const scene = new THREE.Scene();
  
      // scene.fog = new THREE.Fog(0x000000, 0, 20);
  
      // camera
      const aspectRadio = width / height;
      const camera = new THREE.PerspectiveCamera(75, aspectRadio, 0.01, 2000);
  
      camera.position.set(0, 0, 0);
      // 设置相机方向
      camera.lookAt(scene.position); // 将相机朝向场景
      // 将相机添加到场景中
      scene.add(camera);
  
      // 生成两数之间的随机数
      const random = (min, max) => min + Math.random() * (max - min);
      // 创建点阵几何体
      const createParticlesGeometry = (particles) => {
        const geometry = new THREE.BufferGeometry();
        const positions = new Float32Array(particles * 3); // 初始位置
        const size = new Float32Array(particles);
  
        for (let i = 0; i < particles; i++) {
          positions[i * 3] = Math.sin(i);
          positions[i * 3 + 1] = Math.cos(i);
          positions[i * 3 + 2] = random(-100, 0);
          size[i] = 100;
        }
  
        geometry.setAttribute('position', new THREE.BufferAttribute(positions, 3));
        geometry.setAttribute('size', new THREE.BufferAttribute(size, 1));
        geometry.computeBoundingSphere();
  
        return geometry;
      };
      // 创建粒子系统
      const starTexture = new THREE.TextureLoader().load(
        new URL('./assets/images/textures/star_1.png', import.meta.url).href);
  
      starTexture.colorSpace = THREE.SRGBColorSpace;
  
      const material = new THREE.ShaderMaterial({
        uniforms: {
          // amplitude: { value: 1.0 },
          color: { value: new THREE.Color(0xffffff) },
          pointTexture: {
            value: starTexture,
          },
          fogColor: { type: 'c', value: new THREE.Color(0x000000) },
          fogNear: { type: 'f', value: /* scene.fog.near */0 },
          fogFar: { type: 'f', value: /* scene.fog.far */20 },
          // fogDensity: { type: 'f', value: scene.fog.density },
          cameraPosition: {
            value: camera.position,
          },
          pointSize: {
            value: 100,
          },
        },
        vertexColors: true,
        vertexShader: vertShader,
        fragmentShader: fragShader,
        transparent: true,
        depthWrite: false,
      });
      const createParticles = (numbers) => {
        const points = new THREE.Points(
          createParticlesGeometry(numbers),
          material
        );
  
        scene.add(points);
      };
  
      // gui
      const gui = new GUI();
      const params = {
        particles: 2000,
      };
  
      createParticles(params.particles);
  
      gui
        .add(params, 'particles', 1, 10000, 1)
        .name('粒子数量')
        .onChange((val) => {
          // 先移除旧的粒子系统
          const points = scene.children.find((x) => x.type === 'Points');
  
          points.removeFromParent();
  
          // 重新生成
          createParticles(val);
        });
  
      // 创建渲染器
      const renderer = new THREE.WebGLRenderer({
        canvas,
        antialias: true, // 抗锯齿
      });
  
      renderer.setPixelRatio(window.devicePixelRatio);
      // 设置渲染器大小
      renderer.setSize(width, height);
      // 执行渲染
      renderer.render(scene, camera);
  
      const controls = new OrbitControls(camera, canvas);
  
      controls.enableDamping = true; // 启用拖拽惯性效果
  
      // 更新画布
      const tick = () => {
        // update objects
        const points = scene.children.find((x) => x.type === 'Points');
        const { attributes: attrs } = points.geometry;
  
        // 旋转粒子系统
        points.rotation.z += 0.01;
  
        for (let i = 0; i < attrs.position.array.length; i++) {
          if (i % 3 === 2) {
            // 判断当前粒子是否在相机后面
            const z = attrs.position.array[i];
            const distance = z - camera.position.z;
  
            if (distance >= 0) {
              // 如果粒子在相机后面, 重置粒子位置到相机前面很远处
              attrs.position.array[i] = random(-100, -50);
            }
  
            attrs.position.array[i] += 0.05; // 移动粒子z轴
          }
        }
  
        attrs.position.needsUpdate = true;
  
        controls.update();
        // 更新帧数
        stats.update();
        // 重新渲染整个场景
        renderer.render(scene, camera);
        // 调用下次更新函数
        window.requestAnimationFrame(tick);
      };
  
      tick();
    });
  </script>
  