
html {
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {background-color: transparent;}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b, strong {font-weight: bolder;}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {font-size: 80%;}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {bottom: -0.25em;}
sup {top: -0.5em;}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden], .hidden {
  display: none;
}

a,article,aside,audio,body,button,canvas,code,dd,details,div,dl,em,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,img,input,label,li,main,nav,ol,p,pre,section,select,span,sub,sup,table,td,textarea,th,tr,ul,video {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: OpenSans,Arial,Helvetica,PingFang SC,"Helvetica Neue",Roboto,"Droid Sans", Microsoft YaHei,SimSun,sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 1.7;
  background-color: #f4f5f6;
}

dd,dl,dt,figure,h1,h2,h3,h4,h5,h6,li,ol,p,ul {
  padding: 0;
  margin: 0;
  font-weight: 400;
  word-wrap: break-word;
}

sub,sup {
  position: static;
  font-size: 100%;
  top: auto;
}

button,input,select,textarea {
  outline: none;
  border: 0;
}

button,code,input,pre,select,textarea {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

code,pre {
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
}

ul {list-style: none;}

a {
  text-decoration: none;
  font-size: inherit;
  outline: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: middle;
}
canvas {user-select: none;}

table,td,th,tr {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-style: normal;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; }
input[type="number"]{ -moz-appearance: textfield; }
input:-internal-autofill-selected{
  box-shadow: 0 0 0 1000px white inset;
}

body.loading {
  &::before{
    content: 'loading...';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-top: 40vh;
    background:rgba(0,0,0, 0.5);
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    color:#fff;
  }
}

.page-header{
  height:50px;
  line-height:30px;
  padding:10px 30px;
  border-bottom: 1px solid #c6c6c6;
}

#c{display:block;}
.pad20{padding: 20px;}
.pad30{padding: 30px;}
.sidemenu{
  position: fixed;
  left:0;
  top:0;
  right: 270px;
  z-index: 100;
  background: #333;
  color:#f4f5f6;
  padding:4px 0;
  &.open{
    ul{
      height: auto;
      max-height: 100px;
      overflow-y: auto;
    }
  }
  ul{height: 20px;
    overflow: hidden;
  }
  .routes-control{
    position: absolute;
    left: 50%;
    bottom: -14px;
    cursor: pointer;
    transform: translateX(-50%);
  }
  li{padding: 0 5px;
    display: inline-block;
    .ant-btn{
      padding: 0;
      color: #fff;
    }
    &:hover, .active{
      span{text-decoration: underline;}
    }
  }
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.justify-between{
  display: flex;
  justify-content: space-between;
}

.fixed-lb{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.control-tip{
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 10;
  padding: 10px;
  text-align: center;
  background: rgba(0,0,0,0.4);
  user-select: none;
  color: #fff;
}

#over{
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 10;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  user-select: none;
  display: none;
  color: #fff;
}

.point{
  color: #fff;
  font-size: 40px;
  padding:0 20px;
  user-select: none;
}

#joyride {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  z-index: 20;
}

#jump{
  position: fixed;
  right: 75px;
  bottom:75px;
  z-index: 20;
  width: 150px;
  height: 150px;
  padding: 40px 30px 30px 44px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  &:active{background: rgba(255, 255, 255, 0.5);}
  img{opacity: 0.7;}
}

#instructions{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 21;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.6);
  text-align: center;
  font-size: 20px;
  color: #fff;
  &.hidden{
    display: none;
  }
}

#guide{
  padding: 20px;
  font-size: 16px;
  text-align: left;
  position: fixed;
  bottom: 0;
  right:0;
  color: #ffff00;
}

@media (max-width: 768px) {
  #joyride{
    width: 150px;
    height: 150px;
    padding: 50px;
    transform: scale(0.7);
  }
  #jump{
    right:0;
    bottom:0;
    transform: scale(0.7);
  }
}
